.row.align-middle
  .columns.small-6
    .actions
      .row.align-stretch
        .columns.shrink

        .columns
          %strong.total-entries{ 'ng-bind' => "total_entries + ' Registros'" }


  .columns.small-18
    %ul.menu.align-right

      %li.item
        .checkbox-btn
          %label
            %input{ type: 'checkbox', 'ng-true-value' => "['']", 'ng-false-value' => "''", 'ng-model' => "table.tableParams.filter()['state_eq']" }
            %div
              %span.badge.secondary
                = @information_requests.count
              %br
              = t('information_requests.total')

      %li.item
        .checkbox-btn
          %label
            %input{ type: 'checkbox', 'ng-true-value' => "[0]", 'ng-false-value' => "''", 'ng-model' => "table.tableParams.filter()['state_eq']" }
            %div
              %span.badge.primary
                = @information_requests.new_requests.count
              %br
              = t('information_requests.newer')


      %li.item
        .checkbox-btn
          %label
            %input{ type: 'checkbox', 'ng-true-value' => "[1]", 'ng-false-value' => "''", 'ng-model' => "table.tableParams.filter()['state_eq']" }
            %div
              %span.badge.warning
                = @information_requests.correct_requests.count
              %br
              = t('information_requests.corrected')

      %li.item
        .checkbox-btn
          %label
            %input{ type: 'checkbox', 'ng-true-value' => "[2]", 'ng-false-value' => "''", 'ng-model' => "table.tableParams.filter()['state_eq']" }
            %div
              %span.badge.success
                = @information_requests.process_requests.count
              %br
              = t('information_requests.process')

      %li.item
        .checkbox-btn
          %label
            %input{ type: 'checkbox', 'ng-true-value' => "[4]", 'ng-false-value' => "''", 'ng-model' => "table.tableParams.filter()['state_eq']" }
            %div
              %span.badge.secondary
                = @information_requests.closed_requests.count
              %br
              = t('information_requests.closed')

      %li.item
        .checkbox-btn
          %label
            %input{ type: 'checkbox', 'ng-true-value' => "[6]", 'ng-false-value' => "''", 'ng-model' => "table.tableParams.filter()['state_eq']" }
            %div
              %span.badge.secondary
                = @information_requests.not_admitted_requests.count
              %br
              = "No admitidas"


      %li.item
        .checkbox-btn
          %label
            %input{ type: 'checkbox', 'ng-true-value' => "[7]", 'ng-false-value' => "''", 'ng-model' => "table.tableParams.filter()['state_eq']" }
            %div
              %span.badge.alert
                = @information_requests.expired_requests.count
              %br
              = t('information_requests.expired')
      - unless current_user.administrative_unit?
        %li.item
          = link_to statistics_panel_information_requests_path, class: "statistics" do
            %i.material-icons insert_chart
            = t('information_requests.statistics')

    .visibility-controls
      = label_tag nil, 'ng-repeat' => 'col in table.cols' do
        %input{ type: :checkbox, ng: { model_options: "{ getterSetter: true }", model: 'col.show' }}
        %span {{ col.title() }}
    %br
