.control
  .row.align-middle.align-justify
    .columns.medium-4.small-12= label_tag "Institución: "
    .columns.medium-20.small-12
      = select_tag 'institution_id', options_from_collection_for_select(institutions, "id", "name"), prompt: institutions.size > 1 ? 'Todas' : false
.control
  .row.align-middle.align-left
    .columns.medium-8.small-12= label_tag "¿Incluir historial? (no aplica para detalle por requerimientos) "
    .columns.medium-2.small-6
      = label_tag "", class: "radio-inline" do
        = check_box_tag("from_history", true, false, {id: "from_history"})

.control.history-date
  .row.align-middle.align-justify
    .columns.medium-4.small-12= label_tag "Desde: "
    .columns.medium-8.small-12= text_field_tag "history_start_at", "", class: "datepicker-statistic"

    .columns.medium-4.small-12= label_tag "Hasta: "
    .columns.medium-8.small-12= text_field_tag "history_end_at", "", class: "datepicker-statistic"

.control
  .row.align-middle.align-justify
    .columns.medium-8.small-6= label_tag "¿Incluir datos del sistema?"
    .columns.medium-16.small-18
      = label_tag "", class: "radio-inline" do
        = check_box_tag("from_system", true, false, {id: "from_system", checked: true})

.control.system-date
  .row.align-middle.align-justify
    .columns.medium-4.small-12= label_tag "Desde: "
    .columns.medium-8.small-12= text_field_tag "system_start_at", "", class: "datepicker-statistic"

    .columns.medium-4.small-12= label_tag "Hasta: "
    .columns.medium-8.small-12= text_field_tag "system_end_at", "", class: "datepicker-statistic"

.control
  .row.align-middle.align-justify
    .columns.medium-4.small-8= label_tag "Vista: "
    .columns.medium-20.small-16
      = select_tag 'view', options_for_select([['Detalle general', 'detailed'],['Detalle por requerimientos', 'requirement']])

.control
  .row.align-middle.align-justify
    .columns.medium-8.small-28
      = button_tag type: :submit, class: "custom-search" do
        %i.material-icons search
        %span Filtrar
