= f.hidden_field :request_type, value: "normal"

.public-information-wrapper
  %h1
    Solicitud de información oficiosa
  %br
  %h2
    Información general

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :nationality
      .columns.small-18
        .row
          - model.nationalities.keys.each do |enum_nationality|
            .small-6.columns
              = f.label enum_nationality, class: "radio-inline" do
                = f.radio_button :nationality, enum_nationality, :checked => enum_nationality == "salvadorian" ? true : false, id: "information_request_#{enum_nationality}"
                = f.label t("activerecord.enum.information_request.nationality.#{enum_nationality.to_sym}"), for: "information_request_#{enum_nationality}"

  .nationality-container{ style: f.object.foreign? ? nil : 'display: none;' }
    .control
      .row.align-middle.align-justify
        .columns.small-5= f.label :nationality_name
        .columns.small-18= f.select :nationality_name, nationalities.map{ |i| [i.name, i.id] }, include_blank: true
  %br
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :institution_id
      //.columns.small-18= f.select :institution_id, institutions.map{ |i| [i.name, i.id] }, include_blank: true
      .columns.small-18= f.select :institution_id, institutions.map{ |i| [i.name, i.id] }
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :residence
      .columns.small-18
        .row
          - model.residences.keys.each do |enum_residence|
            .small-6.columns
              = f.label enum_residence, class: "radio-inline" do
                = f.radio_button :residence, enum_residence, :checked => enum_residence == "el_salvador" ? true : false, id: "information_request_#{enum_residence}"
                = f.label t("activerecord.enum.information_request.residence.#{enum_residence.to_sym}"), for: "information_request_#{enum_residence}"

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :entity_type
      .columns.small-18
        .row
          - model.entity_types.keys.each do |enum_entity_type|
            .small-6.columns
              = f.label enum_entity_type, class: "radio-inline" do
                = f.radio_button :entity_type, enum_entity_type, :checked => enum_entity_type == "natural" ? true : false, id: "information_request_#{enum_entity_type}"
                = f.label t("activerecord.enum.information_request.entity_type.#{enum_entity_type.to_sym}"), for: "information_request_#{enum_entity_type}"


  .control.entity_type_legal_dependent
    .row.align-middle.align-justify
      .columns.small-5= f.label :legal_representative
      .columns.small-18= f.text_field :legal_representative
  %br


  .control.entity_type_legal_dependent
    .row.align-middle.align-justify
      .columns.small-5= f.label :legal_representative_doc
      - if f.object.persisted? && f.object.legal_representative_doc.present?
        .columns.small-15
          = f.file_field :legal_representative_doc
          %br
          %i.muted
            = t('activerecord.attributes.information_request.document_image_max_size')
            ,
            = t('activerecord.attributes.information_request.document_image_extensions')

        .columns.small-2
          = link_to f.object.legal_representative_doc.url, target: '_blank' do
            %i.material-icons file_download
      - else
        .columns.small-18
          = f.file_field :legal_representative_doc
          %br
          %i.muted
            = t('activerecord.attributes.information_request.document_image_max_size')
            ,
            = t('activerecord.attributes.information_request.document_image_extensions')
  %br

  %h2
    Datos del solicitante

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :firstname
      .columns.small-18= f.text_field :firstname

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :lastname
      .columns.small-18= f.text_field :lastname

  .control.entity_type_dependent
    .row.align-middle.align-justify
      .columns.small-5= f.label :birthday
      .columns.small-18= f.date_select :birthday, { prompt: { day: 'Día', month: 'Mes', year: 'Año' }, start_year: 1920, end_year: Date.today.year }, class: 'date'

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :gender
      .columns.small-18
        .row
          - model.genders.keys.each do |enum_gender|
            .small-6.columns
              = f.label enum_gender, class: "radio-inline" do
                = f.radio_button :gender, enum_gender, :checked => enum_gender == "female" ? true : false, id: "information_request_#{enum_gender}"
                = f.label t("activerecord.enum.information_request.gender.#{enum_gender.to_sym}"), for: "information_request_#{enum_gender}"
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :email
      .columns.small-18= f.text_field :email

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :phone
      .columns.small-18= f.text_field :phone

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :cellular
      .columns.small-18= f.text_field :cellular

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :fax
      .columns.small-18= f.text_field :fax

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :address
      .columns.small-18= f.text_area :address, rows: 2

  .control.entity_type_dependent
    .row.align-middle.align-justify
      .columns.small-5= f.label :educational_level
      .columns.small-18= f.select :educational_level, model.educational_levels.keys.map{ |i| [t(i, scope: 'activerecord.enum.information_request.educational_level'), i] }, include_blank: true

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :occupation_id
      .columns.small-18= f.select :occupation_id, @occupations.map{ |i| [i.name, i.id] }, include_blank: true

  .control.entity_type_dependent.residence_dependent
    .row.align-middle.align-justify
      .columns.small-5= f.label :state_id
      .columns.small-18= f.select :state_id, @states.map{ |i| [i.name, i.id] }, {include_blank: true}, { class: 'ajaxable', action: 'state_cities', target: 'item_city_id' }

  .control.entity_type_dependent.residence_dependent
    .row.align-middle.align-justify
      .columns.small-5= f.label :city_id
      .columns.small-18= f.select :city_id, @cities.nil? ? [] : @cities.map{ |i| [i.name, i.id] }, include_blank: true

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :notification_mode
      .columns.small-18
        .row
          - model::NOTIFICATION_MODE.each do |k, v|
            .small-6.columns
              = label_tag "notification_mode_"+k.to_s, class: "radio-inline" do
                = check_box_tag 'notification_mode[]', k, Array.wrap(f.object.notification_mode).include?(k.to_s)
                = v
  %br
  %h2= "Información Solicitada"
  %div
    %i.muted Por favor, incluya, de uno a uno, cada uno de los elementos (requerimientos) que solicitará.
  %br
  #requirements
    = f.fields_for :requirements do |requirement|
      = render partial: 'requirement_fields', locals: { f: requirement }

    .add-nested
      = link_to_add_association f, :requirements do
        %i.material-icons add_circle_outline
        Agregar

  .control.entity_type_dependent
    .row.align-middle.align-justify
      .columns.small-5= f.label :delivery_way
      .columns.small-18= f.select :delivery_way, model.delivery_ways.keys.map{ |i| [t(i, scope: 'activerecord.enum.information_request.delivery_way'), i] }, include_blank: true
  %br

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :reception
      .columns.small-18
        .row
          - model.receptions.keys.each do |enum_reception|
            .small-6.columns
              = f.label enum_reception, class: "radio-inline" do
                = f.radio_button :reception, enum_reception, :checked => enum_reception == "in_person" ? true : false, id: "information_request_#{enum_reception}"
                = f.label t("activerecord.enum.information_request.reception.#{enum_reception.to_sym}"), for: "information_request_#{enum_reception}"

  .control.reception_dependent
    .row.align-middle.align-justify
      .columns.small-5= f.label :authorized_person
      .columns.small-18= f.text_field :authorized_person
  %br


  %h2 Identidad
  %div
    %i.muted
      = t("identity_first_hint")
      %br
      = t("identity_second_hint")
  %br

  .control
    .row.align-middle
      .columns.small-5= f.label :seen_document
      .columns.small-3
        = f.check_box :seen_document, {class: "radio-inline"}, true, false
      .columns.small-15

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :document_type
      .columns.small-18= f.select :document_type, model.document_types.keys.map{ |i| [t(i, scope: 'activerecord.enum.information_request.document_type'), i] }, include_blank: true

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :document_number
      .columns.small-18= f.text_field :document_number

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :document_front_image
      - if f.object.persisted? && f.object.document_front_image.present?
        .columns.small-15
          = f.file_field :document_front_image
          %br
          %i.muted
            = t('attachment_hint')
          %br
          %i.muted
            = t('activerecord.attributes.information_request.document_image_max_size')
            ,
            = t('activerecord.attributes.information_request.document_image_extensions')
        .columns.small-2
          = link_to f.object.document_front_image.url, target: '_blank' do
            %i.material-icons file_download
      - else
        .columns.small-18
          = f.file_field :document_front_image
          %br
          %i.muted
            = t('attachment_hint')
          %br
          %i.muted
            = t('activerecord.attributes.information_request.document_image_max_size')
            ,
            = t('activerecord.attributes.information_request.document_image_extensions')
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :document_back_image
      - if f.object.persisted? && f.object.document_back_image.present?
        .columns.small-15
          = f.file_field :document_back_image
          %br
          %i.muted
            = t('activerecord.attributes.information_request.document_image_max_size')
            ,
            = t('activerecord.attributes.information_request.document_image_extensions')

        .columns.small-2
          = link_to f.object.document_back_image.url, target: '_blank' do
            %i.material-icons file_download
      - else
        .columns.small-18
          = f.file_field :document_back_image
          %br
          %i.muted
            = t('activerecord.attributes.information_request.document_image_max_size')
            ,
            = t('activerecord.attributes.information_request.document_image_extensions')

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :other_document
      - if f.object.persisted? && f.object.other_document.present?
        .columns.small-15
          = f.file_field :other_document
          %br
          %i.muted
            = t('activerecord.attributes.information_request.document_image_max_size')
            ,
            = t('activerecord.attributes.information_request.document_image_extensions')
        .columns.small-2
          = link_to f.object.other_document.url, target: '_blank' do
            %i.material-icons file_download
      - else
        .columns.small-18
          = f.file_field :other_document

          %br
          %i.muted
            = t('activerecord.attributes.information_request.document_image_max_size')
            ,
            = t('activerecord.attributes.information_request.document_image_extensions')

.personal-information-wrapper
