= f.fields_for :events do |event|
  - if event.object.new_record?
    .control
      .row.align-middle.align-justify
        .columns.medium-5= event.label :event_start
        .columns.medium-18
          = event.hidden_field :event_start, value: Date.current
          = event.hidden_field :user_id, value: current_user.id
          = l(Date.current, format: :default)
          = event.hidden_field :state, value: state

    - if state == "extended"
      :ruby
        complexity_options = []
        if information_request.extension_type == nil
          complexity_options << ['Mas de 5 años', 'antiquity']
          complexity_options << ['Complejidad de la información', 'complexity']
        else
          complexity_options << ['Complejidad y antigüedad de la información', 'antiquity_and_complexity']
        end

      .control
        .row.align-middle.align-justify
          .columns.medium-5= f.label :extension_type
          .columns.medium-18
            = f.select :extension_type, complexity_options

    .control
      .row.align-middle.align-justify
        .columns.medium-5= event.label :justification
        .columns.medium-18= event.text_area :justification, rows: 2, required: true

    .control
      .row.align-middle.align-justify
        .columns.medium-5= event.label :document
        .columns.medium-18
          = event.file_field :document
          %br
          %i.muted
            = t('activerecord.attributes.information_request.document_image_max_size')
            ,
            = t('activerecord.attributes.information_request.document_image_extensions')
.control
  .row.align-center.align-justify
    .columns.medium-5
    .columns.medium-18
      = f.button type: :submit, data: { disable_with: "Por favor espere..."} do
        %i.material-icons save
        Guardar
