
.control
  .row.align-justify
    .columns.medium-24
      %h2 Gestión del requerimiento
  .row.align-middle.align-justify
    .columns.medium-8.small-7
      .row.align-middle
        .medium-24.columns
          = f.label :meets_depth
      .row.align-middle
        .columns.medium-6
          = f.label "", class: "radio-inline" do
            = f.radio_button :meets_depth, true, id: "requirement_meets_depth_yes_#{i}"
            = f.label "Si", for: "requirement_meets_depth_yes_#{i}"
        .columns.medium-6
          = f.label "", class: "radio-inline" do
            = f.radio_button :meets_depth, false, id: "requirement_meets_depth_no_#{i}"
            = f.label "No", for: "requirement_meets_depth_no_#{i}"
    .columns.medium-11.small-10
      .row.align-middle
        .medium-24.columns
          = f.label :art_74_laip
      .row.align-middle
        .columns.medium-6
          = f.label "", class: "radio-inline" do
            = f.radio_button :art_74_laip, true, id: "requirement_art_74_laip_yes_#{i}"
            = f.label "Si", for: "requirement_art_74_laip_yes_#{i}"
        .columns.medium-6
          = f.label "", class: "radio-inline" do
            = f.radio_button :art_74_laip, false, { checked: true, id: "requirement_art_74_laip_no_#{i}"}
            = f.label "No", for: "requirement_art_74_laip_no_#{i}"

    .columns.medium-5.small-6
      = f.button class: "hollow button success small save-button", type: :submit, data: { disable_with: "Por favor espere..."} do
        %i.material-icons save
        Guardar

    .columns.medium-24.small-24
      %div Lo solicitado está totalmente claro para darle trámite
      %br
    .columns.medium-20.small-20
      .row.align-middle
        .medium-24.columns
          = f.label :assigned_users
          = select_tag :assigned_users, options_for_select(current_user.users_array, selected: f.object.assigned_users), { multiple: true, class: 'chosen input-block-level' }
    .columns.medium-20.small-20
      .row.align-middle
        .medium-24.columns
          = f.label :invited_users
          = select_tag :invited_users, options_for_select(current_user.users_array, selected: f.object.invited_users), { multiple: true, class: 'chosen input-block-level' }
    %div{id: "close-requirement-#{requirement.id}"}
      - if f.object.process?
        = render partial: "panel/requirements/close_requirement", locals: {f: f, requirement: requirement}
