%div{class: "comments-wrapper-#{requirement.id}"}
  - if comments.size > 0
    - comments.each_with_index do |comment, index|
      %div{class: "#{index%2==0 ? 'comment-par': 'comment-even'}"}
        .row.align-justify
          .columns.medium-24.small-24
            %h5
              = comment.user.name rescue "Usuario"
              %span
                = "Publicado el #{l comment.created_at, format: :localized2}"
        .row.align-justify
          .columns.medium-18.small-24
            .message-wrap
              = strip_tags comment.message
          .columns.medium-6.small-24
            - if comment.document.exists?
              = link_to comment.document.url, target: "_blank" do
                %i.material-icons file_download
                = " Descargar"
%hr
.row.align-center
  .medium-20.columns
    %div{id: "requirement-comment-#{requirement.id}"}
    - unless !requirement.art_74_laip.nil? && requirement.art_74_laip == true || requirement.closed?
      = form_for Comment.new, as: :item, url: panel_comments_url, remote: true, html: { :multipart => true, method: :post, id: "requirement-comment-form-#{requirement.id}", class: "requirement-comment-form" } do |cf|
        %h2 Dejar un comentario
        .control
          .row.align-middle.align-justify
            .columns.medium-4.small-24
              = cf.label :message
            .columns.medium-15.small-22
              = cf.text_area :message, class: "tinymce", rows: 2
              = tinymce :theme => "modern", skin: "lightgray", statusbar: false
              = cf.hidden_field :requirement_id, value: requirement.id
            .columns.medium-5.hide-for-small-only
              = cf.button class: "hollow button success", type: :submit, data: { disable_with: "Por favor espere..."} do
                %i.material-icons save
                Guardar
        .control
          .row.align-left
            .columns.small-24.medium-4= cf.label :document
            .columns.small-22.medium-10
              = cf.file_field :document
        .control.show-for-small-only
          .row.align-right
            .columns.small-24
              = cf.button class: "hollow button success", type: :submit, data: { disable_with: "Por favor espere..."} do
                %i.material-icons save
                Guardar

        :javascript
          $("#requirement-comment-form-#{requirement.id}").validate();
