%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

%script{ type: 'text/ng-template', id: '/date-filter-from-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Desde' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-from' => 'true', before: "params.filter()[name.replace('_gteq', '_lteq')]" }

%script{ type: 'text/ng-template', id: '/date-filter-to-template.html' }
  .date-range-picker-container
    %span{ 'ng-click' => 'showCalendarPicker($event)', 'ng-class' => "string2date(params.filter()[name]) ? 'has-content' : null" }
      {{ (string2date(params.filter()[name]) | date:'dd/MM/yyyy') || 'Hasta' }}
    %mighty-datepicker.date-range-picker{ name: '{{name}}', 'ng-disabled' => '$filterRow.disabled', 'ng-model' => "params.filter()[name]", options: 'dateRangePickerOptions', 'range-to' => 'true', after: "params.filter()[name.replace('_lteq', '_gteq')]" }


.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        .action-buttons
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-primary' do
            %i.material-icons build
            Gestionar

        -# link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' } do
            %i.material-icons delete
            Eliminar
      - unless current_user.administrative_unit?
        %td{ data: { title: "'Días restantes'"}, 'ng-if'=>'true' }
          %div{ 'ng-if' => 'item.remaining_days > 0', class: 'callout success no-margin'}
            = "{{item.remaining_days}}"
          %div{ 'ng-if' => 'item.remaining_days <= 0', class: 'callout alert no-margin'}
            = "{{item.remaining_days}}"
          -# unless "{{item.remaining_days}}" == "-"
            .progress
              - if "{{item.percent}}".to_i > 0
                .progress{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", "aria-valuetext" => "{{item.percent}} percent", :role => "progressbar", :tabindex => "0", :class => "success"}
                  %span.progress-meter{:style => "width: {{item.percent}}%;"}
                    %p.progress-meter-text {{item.remaining_days}}

              - if "{{item.percent}}".to_i < 100
                .progress{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", "aria-valuetext" => "{{item.percent}} percent", :role => "progressbar", :tabindex => "0", :class => "danger"}
                  %span.progress-meter{:style => "width: {{item.percent}}%;"}
                    %p.progress-meter-text {{item.remaining_days}}



      %td{ data: { title: "'Estado'" }, 'ng-if' => 'true', sortable: "'state'" }
        %div{ 'ng-if' => '(item.state == "En proceso" || item.state == "Subsanada") && item.remaining_days > 4', class: 'callout2 process no-margin'} {{ item.state }}
        %div{ 'ng-if' => '(item.state == "En proceso" || item.state == "Subsanada") && item.remaining_days < 5', class: 'callout2 alert no-margin'} {{ item.state }}
        %div{ 'ng-if' => 'item.state == "Cerrada" || item.state == "No subsanada" || item.state == "No admitida"', class: 'callout2 secondary no-margin'} {{ item.state }}
        %div{ 'ng-if' => 'item.state == "Nueva"', class: 'callout2 newer no-margin'} {{ item.state }}
        %div{ 'ng-if' => 'item.state == "Prevenida"', class: 'callout2 correct no-margin'} {{ item.state }}

      %td{ data: { title: "'Correlativo'" }, 'ng-if' => 'true', filter: "{ correlative_icont: 'text' }", sortable: "'correlative'" } {{ item.correlative }}

      - unless current_user.has_role?("administrative_unit") or current_user.has_role?("oir")
        %td{ data: { title: "'Institución'" }, 'ng-if' => 'true', filter: "{ institution_id_eq: 'select' }", 'filter-data' => "getSelectList('institutions')", sortable: "'institution_name'" } {{ item.institution_id }}

      - unless current_user.has_role?("administrative_unit")
        %td{ data: { title: "'Nombre'" }, 'ng-if' => 'true', filter: "{ firstname_or_lastname_icont: 'text' }", sortable: "'lastname'" } {{ item.firstname }} {{item.lastname}}
      %td{ data: { title: "'Palabras claves'"      }, 'ng-if' => 'true', filter: "{ tags_name_icont: 'text'        }", sortable: "'tags'"             } {{ item.tags_string }}

      %td{ data: { title: "'Fecha de ingreso'" }, 'ng-if' => 'true', filter: "table.dateFilter('confirmed_at')", sortable: "'confirmed_at'" } {{ item.confirmed_at | date:'dd/MM/yy hh:mm a' }}
      %td{ data: { title: "'Procesada'" }, 'ng-if' => 'true', filter: "table.dateFilter('admitted_at')", sortable: "'admitted_at'" } {{ item.admitted_at | date:'dd/MM/yyyy hh:mm a' }}
      //%td{ data: { title: "'Fecha de cierre'" }, 'ng-if' => 'true' } {{ item.events.last.closed_at | date:'dd/MM/yyyy hh:mm a' }}
