.small-9
  .table.no-border.no-margin
    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Fecha de ingreso de la solicitud
      .columns.small-24.medium-16.large-16
        - if item.from_website?
          =  l item.confirmed_at, format: :localized rescue t('undefined')
        - else
          =  l item.admitted_at, format: :localized rescue t('undefined')

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Correlativo
      .columns.small-24.medium-16.large-16
        = item.correlative

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Institución
      .columns.small-24.medium-16.large-16
        = item.institution.name

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Nacionalidad
      .columns.small-24.medium-16.large-16
        = item.nationality.present? ? item.nationality : "Salvadoreña"

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Residencia
      .columns.small-24.medium-16.large-16
        = item.residence

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Tipo de persona
      .columns.small-24.medium-16.large-16
        = item.entity_type

    - if item.legal?
      .row.align-justify
        .columns.small-24.medium-8.large-8
          %strong Representante legal
        .columns.small-24.medium-16.large-16
          = item.legal_representative

      .row.align-justify
        .columns.small-24.medium-8.large-8
          %strong Documento de representación legal
        .columns.small-24.medium-16.large-16
          = link_to "Descargar documento", item.legal_representative_doc.url, target: "_blank"


    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Nombre completo
      .columns.small-24.medium-16.large-16
        = item.fullname

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Fecha de nacimiento
      .columns.small-24.medium-16.large-16
        = l item.birthday, format: :localized3 rescue t('undefined')

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Sexo
      .columns.small-24.medium-16.large-16
        = item.gender

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Correo electrónico
      .columns.small-24.medium-16.large-16
        = item.email

.small-9
  .table.no-border.no-margin
    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Telefono
      .columns.small-24.medium-16.large-16
        = item.phone

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Celular
      .columns.small-24.medium-16.large-16
        = item.cellular

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong FAX
      .columns.small-24.medium-16.large-16
        = item.fax

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Dirección
      .columns.small-24.medium-16.large-16
        = sanitize item.address

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Nivel educativo
      .columns.small-24.medium-16.large-16
        = item.educational_level

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Ocupación
      .columns.small-24.medium-16.large-16
        = item.occupation_id

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Departamento
      .columns.small-24.medium-16.large-16
        = item.city.present? && item.city.state.present? ? item.city.state.name : t('undefined')

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Municipio
      .columns.small-24.medium-16.large-16
        = item.city.present? ? item.city_id : t('undefined')

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Forma de entrega
      .columns.small-24.medium-16.large-16
        = item.delivery_way.present? ? item.delivery_way : t('undefined')

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Forma de notificación
      .columns.small-24.medium-16.large-16
        = item.notification_mode.present? ? item.notification_mode_string : t('undefined')

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Tipo de documento
      .columns.small-24.medium-16.large-16
        = item.document_type.present? ? item.document_type : t('undefined')

    .row.align-justify
      .columns.small-24.medium-8.large-8
        %strong Número de documento
      .columns.small-24.medium-16.large-16
        = item.document_number.present? ? item.document_number : t('undefined')
- if item.document_front_image.present?
  %div{ class: "columns small-6" }
    = link_to item.document_front_image.url(:original, false), target: "_blank" do
      = image_tag(item.document_front_image.url(:original))
    - if item.document_back_image.present?
      %br
      %br
      = link_to item.document_back_image.url(:original, false), target: "_blank" do
        = image_tag(item.document_back_image.url(:original))
