%section{}
  .breacrumb
    = render_breadcrumbs separator: ' / '

  .header
    .row.align-middle
      .columns.medium-20.small-18
        %h1
          %i.material-icons list
          = "Cerrar solicitud de información "
          = @item.try(:correlative)

  %section.close-request-form
    .container
      .row
        .columns.medium-23
          .form
            = form_for [:panel, @item], as: :item, url: process_request_panel_information_request_path(@item.id), html: { method: :put, id: "process-form" } do |f|
              = f.hidden_field :state, value: "closed"
              = f.fields_for :events do |event|
                - if event.object.new_record?
                  .control
                    .row.align-middle.align-justify
                      .columns.medium-5.small-24= label_tag "Días hábiles transcurridos"
                      .columns.medium-18.small-24= @item.business_days_passed
                  .control
                    .row.align-middle.align-justify
                      .columns.medium-5.small-24= event.label :event_start
                      .columns.medium-18.small-24
                        = event.hidden_field :event_start, value: Date.current
                        = event.hidden_field :user_id, value: current_user.id
                        = l(Date.current, format: :default)
                        = event.hidden_field :state, value: "closed"

                  .control
                    .row.align-middle.align-justify
                      .columns.medium-5.small-24= event.label :justification
                      .columns.medium-18.small-24= event.text_area :justification, rows: 2, required: true

                  .control
                    .row.align-middle.align-justify
                      .columns.medium-5.small-24= event.label :document
                      .columns.medium-18.small-24
                        = event.file_field :document
                        %br
                        %i.muted
                          = t('activerecord.attributes.information_request.document_image_max_size')
                          ,
                          = t('activerecord.attributes.information_request.document_image_extensions')
              .control
                .row.align-center.align-justify
                  .columns.medium-5.small-24
                  .columns.medium-18.small-24
                    = f.button type: :submit do
                      %i.material-icons save
                      Guardar

      .row
        .columns.medium-23.align-middle
          %h2 Requerimientos

          .callout.success
            %table.requirements-table
              %thead
                %th
                  = "Requerimiento"
                %th
                  = "Tipo de información"
                %th
                  = "Tipo de resolución"
                %th
                  = "Justificación"

              - @item.requirements.each_with_index do |requirement, i|
                %tr
                  %td
                    = i+1
                  %td
                    = requirement.get_information_type
                  %td
                    = requirement.get_resolution_type
                  %td
                    = requirement.events.last.try(:justification)
