%section
  .header
    .row.align-middle
      .columns.medium-14.small-24
        %h1
          = "Gestion de solicitud "
          = @item.try(:correlative)

%section.pdf-request

  - unless current_user.administrative_unit?
    .row
      .medium-12.columns
        %br
        %h2.title-pdf Datos del solicitante
        %hr
        %table.table.no-border.no-margin.unstriped
          %tr
            %td.td-pdf-title
              %strong Nacionalidad
            %td
              = @item.nationality.present? ? @item.nationality : "Salvadoreña"

          %tr
            %td.td-pdf-title
              %strong Residencia
            %td
              = @item.residence

          %tr
            %td.td-pdf-title
              %strong Tipo de persona
            %td
              = @item.entity_type

          - if @item.legal?
            %tr
              %td.td-pdf-title
                %strong Representante legal
              %td
                = @item.legal_representative

            %tr
              %td.td-pdf-title
                %strong Documento de representación legal
              %td
                = link_to "Descargar documento", @item.legal_representative_doc.url, target: "_blank"


          %tr
            %td.td-pdf-title
              %strong Nombre completo
            %td
              = @item.fullname

          %tr
            %td.td-pdf-title
              %strong Fecha de nacimiento
            %td
              = l @item.birthday, format: :localized3 rescue t('undefined')

          %tr
            %td.td-pdf-title
              %strong Sexo
            %td
              = @item.gender

          %tr
            %td.td-pdf-title
              %strong Correo electrónico
            %td
              = @item.email

          %tr
            %td.td-pdf-title
              %strong Telefono
            %td
              = @item.phone

          %tr
            %td.td-pdf-title
              %strong Celular
            %td
              = @item.cellular

          %tr
            %td.td-pdf-title
              %strong FAX
            %td
              = @item.fax

          %tr
            %td.td-pdf-title
              %strong Dirección
            %td
              = strip_tags @item.address

          %tr
            %td.td-pdf-title
              %strong Nivel educativo
            %td
              = @item.educational_level

          %tr
            %td.td-pdf-title
              %strong Ocupación
            %td
              = @item.occupation_id

          %tr
            %td.td-pdf-title
              %strong Departamento
            %td
              = @item.city.present? && @item.city.state.present? ? @item.city.state.name : t('undefined')

          %tr
            %td.td-pdf-title
              %strong Municipio
            %td
              = @item.city.present? ? @item.city_id : t('undefined')
        %br
        %h2.title-pdf Identidad
        %hr
        %table.table.no-border.no-margin.unstriped
          %tr
            %td.td-pdf-title
              %strong Tipo de documento
            %td
              = @item.document_type.present? ? @item.document_type : t('undefined')

          %tr
            %td.td-pdf-title
              %strong Número de documento
            %td
              = @item.document_number.present? ? @item.document_number : t('undefined')


        %br
        %h2.title-pdf Información solicitada
        %hr
        %table.table.no-border.no-margin.unstriped
          %tr
            %td.td-pdf-title
              %strong Fecha de ingreso de la solicitud
            %td
              = l @item.confirmed_at, format: :localized2 rescue t('undefined')
          %tr
            %td.td-pdf-title
              %strong Fecha de admisión de la solicitud
            %td
              = l @item.admitted_at, format: :localized2 rescue t('undefined')
          %tr
            %td.td-pdf-title
              %strong Correlativo
            %td
              = @item.correlative
          %tr
            %td.td-pdf-title
              %strong Fecha estimada de entrega
            %td
              = l @item.delivery_deadline, format: :localized rescue t('undefined')
          %tr
            %td.td-pdf-title
              %strong Institución
            %td
              = @item.institution.name
          %tr
            %td.td-pdf-title
              %strong Forma de entrega
            %td
              = @item.delivery_way.present? ? @item.delivery_way : t('undefined')

          %tr
            %td.td-pdf-title
              %strong Forma de notificación
            %td
              = @item.notification_mode.present? ? @item.notification_mode_string : t('undefined')
          %tr
            %td.td-pdf-title
              %strong Información solicitada:
            %td

          - if @item.requirements.size > 0
            - @item.requirements.each_with_index do |requirement, i|
              %tr
                %td.td-pdf-title
                  %strong= "Requerimiento "+(i+1).to_s
                  %br
                  %div
                    - if requirement.has_assigned_users?
                      .callout.primary
                        %h2
                          = "Asignado a: "
                          = requirement.show_assigned_users
                          - if requirement.assigned_date?
                            %br
                            = "El día: "
                            = l requirement.assigned_date, format: :localized
                            = ", "
                            = "Última actualización: "
                            = l requirement.assigned_date_update, format: :localized

                %td
                  = strip_tags requirement.requested_information

  - if params[:management] == "true"
    %br
    .row
      .medium-12.columns
        %h2.title-pdf Gestión de la solicitud
        %hr
    - if @item.requirements.size > 0
      .row
        - @item.requirements.each_with_index do |requirement, i|
          - if current_user.admin? || current_user.oir? || (current_user.administrative_unit? && (requirement.assigned_users.include?(current_user.id.to_s) || requirement.invited_users.include?(current_user.id.to_s)))
            .columns.medium-23.small-21{id: "requirement-content-#{i}", class: "requirement-content"}
              %br
              %h2
                %strong
                  = "Requerimiento "+(i+1).to_s
              %p
                = strip_tags requirement.requested_information
              -#
                %div{id: "requirement-closed-#{requirement.id}"}
                  - if !requirement.art_74_laip.nil? && requirement.art_74_laip == true
                    .callout.warning
                      Requerimiento cerrado por artículo 74-B de la LAIP.
                    %br
                  - elsif requirement.closed? && requirement.art_74_laip == false
                    .callout.warning
                      = requirement.get_resolution_type
                    %br

              %div{class: "requirement-comments-#{requirement.id}"}
                %div{class: "comments-wrapper-#{requirement.id}"}
                  - if requirement.comments.size > 0
                    - requirement.comments.each_with_index do |comment, index|
                      %div{class: "#{index%2==0 ? 'comment-par': 'comment-even'}"}
                        .row.align-justify
                          .columns.medium-24.small-24
                            %h5
                              = comment.user.name rescue "-"
                              %span
                                = "Publicado el #{l comment.created_at, format: :localized2}"
                        .row.align-justify
                          .columns.medium-18.small-24
                            .message-wrap
                              = strip_tags comment.message
    %br
    .row
      .medium-24.columns
        %h2.title-pdf Historial de la solicitud
        - if @item.events.size > 0
          = render partial: "panel/events/information_timeline", locals: { information_request: @item, events: @item.events }
