%section{ ng: { controller: 'tableController as table' }}
  .breacrumb
    = render_breadcrumbs separator: ' / '

  .header
    .row.align-middle
      .columns.medium-14.small-24
        %h1
          %i.material-icons list
          = "Gestion de solicitud "
          = @item.try(:correlative)

      .columns.medium-6.small-12
        - unless current_user.administrative_unit?
          %span.menu.drop.download-request
            %i.material-icons cloud_download
            Descargar
            %ul
              %li
                = link_to download_request_panel_information_request_url(@item, format: "pdf"), target: "_blank" do
                  Descargar solicitud en versión pública
              %li
                = link_to download_request_panel_information_request_url(@item, management: true, format: "pdf"), target: "_blank" do
                  Descargar solicitud íntegra
              %li
                = link_to download_documents_panel_information_request_url(@item), target: "_blank" do
                  Descargar todos los documentos
      .columns.medium-4.small-12
        .callout{class: "#{@item.state_sym}"}
          = @item.state

%section.info-request-tool
  .container
    .row
      .medium-24.columns
        .callout.secondary
          %br
          %h2 Agregar etiquetas a la solicitud
          %br
          %strong
            Agregar palabras claves al caso, separadas por coma (,)
          = form_for @item, url: tags_panel_information_request_url(@item), html: { method: :post } do |f|
            = f.collection_select :tag_list, @tags, :name, :name, {placeholder: 'adultos,salud,etc'}, {multiple: true, class: 'input-tokens'}


    %br

    - if @item.meets_shape == false
      .row
        .medium-10.columns
          .callout.warning
            %h2
              %i.material-icons warning
              Solicitud no cumple forma


    - if @item.request_type == "personal"
      .row
        .medium-10.columns
          .callout.secondary
            %h2
              %i.material-icons warning
              Solicitud de datos personales


    .row
      .medium-10.columns
        - if @item.delivery_deadline? and !@item.request_is_closed? and !current_user.administrative_unit?
          - if @item.correct?
            .callout.warning
              %span{class: "badge #{@item.remaining_days.to_i <= 2 ? 'alert' : 'warning '}" }
                = @item.remaining_days
              = " días calendario para subsanar. "
              = "Fecha límite para subsanar solicitud: "
              =  l @item.correct_due_date, format: :localized rescue t('undefined')
              - if @item.request_type == "personal"
                %br
                %span{class: "badge #{@item.remaining_days.to_i <= 2 ? 'alert' : 'warning '}" }
                  = @item.remaining_days_for_personal
                = " días calendario para entrega. "
                = "Fecha límite de respuesta: "
                =  l @item.delivery_deadline, format: :localized rescue t('undefined')

          - else
            .callout.warning
              %span{class: "badge #{@item.remaining_days.to_i <= 2 ? 'alert' : 'warning '}" }
                = @item.remaining_days
              = " días calendario para entrega. "
              = "Fecha límite de respuesta: "
              =  l @item.delivery_deadline, format: :localized rescue t('undefined')

      - unless current_user.administrative_unit?

        .medium-14.columns
          %ul.menu.align-right
            / METERLO EN UN PARTIAL
            / Admision
            - unless @item.closed_request? or @item.is_admitted?
              %li.divider-vertical
              %li
                = link_to "#", id: "dont-admit", tabindex: 1, class: "separated-list fancybox button alert" do
                  %i.material-icons block
                  %span No ingresar
              %li.divider-vertical
              %li
                = link_to admitted_panel_information_request_url(@item), tabindex: 1, class: "separated-list button success" do
                  %i.material-icons done
                  %span Ingresar solicitud


              - if @item.from_website == true && !@item.confirmed?
                %li
                  .callout.small.alert
                    Solicitud desde la web sin confirmar
            / Extend area
            - if @item.process? && @item.can_extended? && @item.all_requirements_are_closed? == false
              %li.divider-vertical
              %li
                = link_to "#", id: "extended-request", class: "separated-list button warning", tabindex: 1 do
                  %i.material-icons schedule
                  = t('extend_request')

            / Correct area
            - if @item.can_correct?
              %li{id: "correct_request"}
                = link_to "#", id: "correct-request", class: "separated-list button warning", tabindex: 1 do
                  %i.material-icons pause
                  %span Prevenir solicitud

            / Process area
            - if @item.can_process? or @item.correct?
              %li.divider-vertical
              %li
                = link_to "#", id: "process-request", class: "separated-list button primary #{@item.expired_correct? ? 'alert' : ''}", tabindex: 1 do
                  %i.material-icons play_arrow
                  = @item.correct? ? t('resume_request') : t('admit_request')

            - if @item.correct?
              %li.divider-vertical
              %li
                = link_to "#", id: "not-corrected-request", class: "separated-list button secondary #{@item.expired_correct? ? 'alert' : ''}", tabindex: 1 do
                  %i.material-icons stop
                  %span No subsanó prevención

            - if @item.all_requirements_are_closed? and !@item.request_is_closed?
              %li.divider-vertical
              %li
                = link_to closure_panel_information_request_url(@item), id: "close-request", class: "separated-list button secondary", tabindex: 1 do
                  %i.material-icons stop
                  = t('close_request')

    .row.align-center
      .columns.large-16
        .container
          - if @item.errors.any?
            .alert-msg.error
              No se pudo guardar el registro, por favor, revise los campos del formulario
          - if flash[:error_requirement]
            .alert-msg.error
              No se pudo guardar el requerimiento, por favor, revise los campos del formulario
          - if flash[:saved]
            .alert-msg.success
              Registro guardado correctamente

          - if flash[:not_admitted]
            .alert-msg.success
              Solicitud no admitida

          - if flash[:correct]
            .alert-msg.success
              Solicitud ha sido prevenida

          - if flash[:process]
            .alert-msg.success
              Se ha procesado la solicitud

          - if flash[:corrected]
            .alert-msg.success
              Se ha subsanado la solicitud
          - if flash[:extended]
            .alert-msg.success
              Se ha extendido el tiempo de la solicitud

          - if flash[:closed]
            .alert-msg.success
              Se ha dado cierre a la solicitud
          - if flash[:date_corrected]
            .alert-msg.success
              Se ha corregido la fecha de ingreso
          - if flash[:something_went_wrong]
            .alert-msg.error
              No se pudo guardar la información, revisar los campos del formulario

          - if flash[:destroyed]
            .alert-msg.error
              Se ha eliminado el requerimiento
          %div{class: "cannot-do-action alert-msg error"}
            Solicitud ya no puede ser prevenida.
          -# unless (!@item.can_correct? && @item.newer?)
            .alert-msg.error
              Solicitud ya no puede ser prevenida.
    %br
    .row.not-admitted-form
      .medium-18.columns
        %h2 No procesar la solicitud
        = form_for [:panel, @item], as: :item, url: process_request_panel_information_request_path(@item.id), html: { method: :put, id: "not-admit-form" } do |nadmit|
          .form
            = nadmit.hidden_field :state, value: 'not_admitted'

            .control
              .row.align-middle.align-justify
                .columns.medium-5= nadmit.label "Tipo de información"
                .columns.medium-18= nadmit.select :resolution_type, options_for_select(@not_admitted_select)


            / Formulario para procesar Solicitud
            = render partial: 'process_request_form', locals: { f: nadmit, state: "not_admitted" }


    .row.correct-form
      .medium-18.columns
        %h2 Prevenir la solicitud
        %p.muted
          Para prevenir, por favor, asegúrese de haber revisado que la solicitud cumpla en forma y que los requerimientos cumplan en fondo.
        = form_for [:panel, @item], as: :item, url: process_request_panel_information_request_path(@item.id), html: { method: :put, id: "correct-form" } do |prevent|
          .form
            = prevent.hidden_field :state, value: 'correct'
            / Formulario para procesar Solicitud
            = render partial: 'process_request_form', locals: { f: prevent, state: "correct" }

    .row.process-form
      .medium-18.columns
        %h2 Procesar la solicitud
        = form_for [:panel, @item], as: :item, url: process_request_panel_information_request_path(@item.id), html: { method: :put, id: "process-form" } do |process|
          .form
            - if @item.correct?
              = process.hidden_field :state, value: 'process'
              = process.hidden_field :meets_shape, value: true
              - state = "corrected"
              .alert-msg.correct
                = "Recuerde elaborar y notificar la admisión al solicitante como máximo el día siguiente hábil después de recibida la subsanación; además del requerimiento a las unidades administrativas respectivas. (Artículo 11, lineamiento trámite de solicitudes)"
            - else
              = process.hidden_field :state, value: 'process'
              - state = "process"
              .alert-msg.correct
                = "Recuerde elaborar y notificar la admisión al solicitante. El comprobante de recepción de SGS, no sustituye el acto administrativo de admisión. (Artículo 11, lineamiento trámite de solicitudes)"

            / Formulario para procesar Solicitud
            = render partial: 'process_request_form', locals: { f: process, state: state }

    .row.not-corrected-form
      .medium-18.columns
        %h2 No subsanar solicitud
        = form_for [:panel, @item], as: :item, url: process_request_panel_information_request_path(@item.id), html: { method: :put, id: "not-correct-form" } do |not_corrected|
          .form
            .alert-msg.correct
              = "Recuerde elaborar y notificar la inadmisión al solicitante en los 3 días siguientes hábiles después de agotado el plazo de subsanación. (Artículo 11, lineamiento trámite de solicitudes)"

            = not_corrected.hidden_field :state, value: 'not_corrected'
            / Formulario para procesar Solicitud
            = render partial: 'process_request_form', locals: { f: not_corrected, state: "not_corrected" }

    .row.extended-form
      .medium-18.columns
        %h2 Extender el plazo de la solicitud

        = form_for [:panel, @item], as: :item, url: process_request_panel_information_request_path(@item.id), html: { method: :put, id: "extended-form" } do |process|
          .form
            .alert-msg.correct
              = "Recuerde elaborar y notificar la ampliación de plazo al solicitante con la motivación legal necesaria según el artículo 71 LAIP."

            = process.hidden_field :state, value: 'process'
            / Formulario para procesar Solicitud
            = render partial: 'process_request_form', locals: { f: process, state: "extended" }

    - if @item.is_admitted? and @item.newer? and @item.meets_shape.nil? and !current_user.administrative_unit?
      .row.align-right

        - if @item.reception != nil && @item.admitted_at != nil && (Date.today - @item.created_at.to_date).to_i <= 2
          .medium-10.columns
            %h2 Fecha de recepción de la solicitud
            = form_for [:panel, @item], as: :item, url: admit_date_panel_information_request_path(@item.id), html: { method: :put, id: "admitted-date-form" } do |admitd|
              .form
                .control
                  .row.align-middle.align-justify
                    .columns.small-16
                      = admitd.label :admitted_at
                      = admitd.date_select :admitted_at, { start_year: 1.year.ago.year, end_year: Date.today.year }, class: 'date'
                    .columns.small-8
                      = admitd.button class: "hollow button success custom", type: :submit, data: { disable_with: "Por favor espere..."} do
                        %i.material-icons save
                        Guardar


        .medium-12.columns
          .callout.primary
            %span Cumple con Nombre, DUI, medio para recibir notificaciones, información solicitada, modalidad de entrega de la información.
            = form_for [:panel, @item], as: :item, url: process_request_panel_information_request_path(@item.id), html: { method: :put } do |f|
              .control
                .row.align-middle.align-justify
                  .columns.medium-10= f.label :meets_shape

                  .columns.medium-8
                    .row.align-middle
                      .columns.medium-6
                        = f.label "", class: "radio-inline" do
                          = f.radio_button :meets_shape, true, id: "information_request_meets_shape_yes"
                          = f.label "Si", for: "information_request_meets_shape_yes"
                      .columns.medium-6
                        = f.label "", class: "radio-inline" do
                          = f.radio_button :meets_shape, false, id: "information_request_meets_shape_no"
                          = f.label "No", for: "information_request_meets_shape_no"
                  .columns.medium-6
                    = f.button class: "hollow button success", type: :submit, data: { disable_with: "Por favor espere..."} do
                      %i.material-icons save
                      Guardar
    - if current_user.has_role?("admin") || current_user.has_role?("oir") || (@item.request_type == "personal" && current_user.has_role?("administrative_unit"))
      .row
        .medium-24.columns
          %button.accordion.secondary Datos del solicitante
          .accordion-element.container
            - unless current_user.has_role?("administrative_unit") or @item.request_is_closed?
              .row.align-right
                - if @item.request_type == "normal"
                  = link_to "Editar información", edit_panel_information_request_url(@item), class: "button hollow primary"
                - else
                  = link_to "Editar información", edit_personal_panel_information_request_url(@item), class: "button hollow primary"
            .row
              = render partial: "user_information", locals: {item: @item} rescue nil
    %br

    .row
      .medium-24.columns
        %h2 Listado de requerimientos
    - if @item.request_type == "personal"
      .row
        .medium-10.columns
          .callout.secondary
            %h2
              = @item.type_of_rights.present? ? "Tipos de derecho: "+@item.type_of_rights_string : t('undefined')

    - if @item.requirements.size > 0
      .row
        - @item.requirements.each_with_index do |requirement, i|
          - if current_user.admin? || current_user.oir? || (current_user.administrative_unit? && (requirement.assigned_users.include?(current_user.id.to_s) || requirement.invited_users.include?(current_user.id.to_s)))
            .columns.medium-23.small-21{id: "requirement-content-#{i}", class: "requirement-content"}
              %button.accordion
                = "Requerimiento "+(i+1).to_s

              .accordion-element
                // Para borrar requerimientos, solo si la solicitud fue ingresada por el oficial (Presencial o Correo Electronico)
                - unless information_request.website? or requirement.closed? or current_user.administrative_unit?
                  = link_to panel_requirement_path(requirement), class: 'float-right button alert small', method: :delete, data: { confirm: '¿Está seguro?' } do
                    %i.material-icons delete
                    Eliminar requerimiento
                  .clearfix

                %div{class: "requirements_with_assigned_users-#{requirement.id}" }
                  - if requirement.has_assigned_users?
                    .callout.primary
                      %h2
                        = "Asignado a: "
                        = requirement.show_assigned_users
                        - if requirement.assigned_date?
                          %br
                          = "El día: "
                          = l requirement.assigned_date, format: :localized
                          = ", "
                          = "Última actualización: "
                          = l requirement.assigned_date_update, format: :localized

                %p
                  = requirement.requested_information.html_safe
                %div{id: "requirement-closed-#{requirement.id}"}
                  - if !requirement.art_74_laip.nil? && requirement.art_74_laip == true
                    .callout.warning
                      Requerimiento cerrado por artículo 74-B de la LAIP.
                    %br
                  - elsif requirement.closed? && requirement.art_74_laip == false
                    .callout.warning
                      = requirement.get_resolution_type
                    %br

                %div{class: "requirement-comments-#{requirement.id}"}
                  = render partial: "requirement_comments", locals: { requirement: requirement, comments: requirement.comments }


            - unless current_user.administrative_unit? || (!requirement.art_74_laip.nil? && requirement.art_74_laip == true) || requirement.closed? || !@item.resolution_type.nil?
              .columns.medium-1.small-3
                = link_to "#", {class: "requirement-tool-#{requirement.id} open-side-form #{requirement.meets_depth? || requirement.meets_depth.nil? ? 'newer' : 'correct'}", id: "requirement-link-#{i}", "index-id": i} do
                  %i.material-icons build
              .columns.collapsed.medium-11.small-24{id: "requirement-form-#{i}"}
                / Formulario para definir si requerimiento cumple con fondo o si debe cerrarse por articulo 74-b
                / - if requirement.art_74_laip.nil? || requirement.art_74_laip == false && requirement.meets_depth.nil?
                .callout{class: "#{requirement.meets_depth? || requirement.meets_depth.nil? ? 'primary' : 'correct-light'}"}
                  %div{id: "requirement-message-#{requirement.id}"}
                  = form_for requirement, as: :item, url: management_panel_requirement_url(requirement.id), html: { remote: true, multipart: true, method: :put, id: "requirement-#{requirement.id}" } do |f|
                    = render partial: "requirement_management_form", locals: { f: f, i: i, requirement: requirement}
                  :javascript
                    $('#requirement-#{requirement.id}').validate();

                    $('#close-requirement-check-#{requirement.id}').click(function(e) {
                      if ($('#close-requirement-check-#{requirement.id}').is(':checked')) {
                        $("#close-requirement-justification-#{requirement.id}").show();
                        $('#item_information_type_#{requirement.id}').rules('add', {
                          required: true
                        });
                        $('#item_resolution_type_#{requirement.id}').rules('add', {
                          required: true
                        });

                        //$('.close-requirement-justification-#{requirement.id}').rules('add', {
                        //  required: true
                        //});
                      }
                      else {
                        $("#close-requirement-justification-#{requirement.id}").hide();
                        $('#item_information_type_#{requirement.id}').rules('add', {
                          required: false
                        });

                        $('#item_resolution_type_#{requirement.id}').rules('add', {
                          required: false
                        });
                        //$('.close-requirement-justification-#{requirement.id}').rules('add', {
                        //  required: false
                        //});
                      }


                    });
    %br
    - unless @current_user.has_role?("administrative_unit") or @item.request_is_closed?
      .row
        .columns.small-24
          = form_for [:panel, Requirement.new], as: :requirement, url: panel_requirements_path(), html: { method: :post, class: "requirement-create-form" } do |new_requirement|
            = new_requirement.hidden_field :information_request_id, value: @item.id
            = render partial: "panel/requirements/add_requirement", locals: {f: new_requirement }
      %hr
      %br


    .row
      .medium-24.columns
        %h2 Estados de la solicitud
        - if @item.events.size > 0
          = render partial: "panel/events/information_timeline", locals: { information_request: @item, events: @item.events }
