%section
  .breacrumb
    = render_breadcrumbs separator: ' / '
  .header
    .row.align-middle
      .columns.medium-20.small-18
        %h1
          %i.material-icons list
          = "Estadísticas "
%section
  .container.statistics-wrapper
    .row
      .columns.medium-20.small-24
        %h2 Filtros
        = form_tag statistics_panel_information_requests_url, method: :get do
          .form
            .control.entity_type_dependent
              .row.align-middle.align-justify
                .columns.medium-3.small-6= label_tag "Desde: "
                .columns.medium-6.small-18= text_field_tag "start_at","", {class: "datepicker-statistic", value: params[:start_at]}
                /.columns.medium-6.small-18= date_select("start_at", "", { start_year: 2009, end_year: Date.today.year, default: @start_date_at }, class: 'date')

                .columns.medium-3.small-6= label_tag "Hasta: "
                .columns.medium-6.small-18= text_field_tag "end_at","", {class: "datepicker-statistic", value: params[:end_at]}
                /.columns.medium-6.small-18= date_select("end_at", "", { prompt: { day: 'Día', month: 'Mes', year: 'Año' }, start_year: 2009, end_year: Date.today.year, default: @end_date_at }, class: 'date')

                .columns.medium-4.small-24
                  = button_tag type: :submit, class: "custom-search" do
                    %i.material-icons search
                    %span Filtrar
    .row
      .columns.small-24
        = link_to "Informe básico", basic_csv_export_panel_information_requests_url(start_at: params[:start_at], end_at: params[:end_at]), target: "_blank", class: "button hollow primary"
        =# link_to "Informe avanzado", "#advanced-export", class: "button hollow success"
%section
  .container.statistics-wrapper
    .row
      .columns.small-24
        %h2 Resumen
        %br
        .row
          .columns.small-24.medium-6
            %strong.statistic-title
              = t('.entry_method')
            %br
            %table
              %tr
                %td.td-title
                  = t('.website_requests')
                %td
                  = @website_requests
              %tr
                %td.td-title
                  = t('.manual_requests')
                %td
                  = @manual_requests
              %tr
                %td.td-title
                  = t('.total')
                %td
                  = @total_requests
            %strong.statistic-title
              = t('.by_state')
            %br
            %table
              %tr
                %td.td-title
                  = t('.new_requests')
                %td
                  = @new_requests
              %tr
                %td.td-title
                  = t('.process_requests')
                %td
                  = @process_requests
              %tr
                %td.td-title
                  = t('.correct_requests')
                %td
                  = @correct_requests
              %tr
                %td.td-title
                  = t('.closed_requests')
                %td
                  = @closed_requests
              %tr
                %td.td-title
                  = t('.not_admitted_requests')
                %td
                  = @not_admitted_requests
              %tr
                %td.td-title
                  = t('.expired_requests')
                %td
                  = @expired_requests
              %tr
                %td.td-title
                  = t('.total')
                %td
                  = @total_requests
            %strong.statistic-title
              = t('.managements')
            %br
            %table
              %tr
                %td.td-title
                  = t('.process_requirements')
                %td
                  = @process_requirements
              %tr
                %td.td-title
                  = t('.closed_requirements')
                %td
                  = @closed_requirements
              %tr
                %td.td-title
                  = t('.total')
                %td
                  = @total_requirements
            %strong.statistic-title
              = t('.type_of_information_provided')
            %br
            %table
              -#
                %tr
                  %td.td-title
                    = t('.informal')
                  %td
                    = "@informal"
              %tr
                %td.td-title
                  = t('.public')
                %td
                  = @public
              %tr
                %td.td-title
                  = t('.reserved')
                %td
                  = @reserved
              %tr
                %td.td-title
                  = t('.confidential')
                %td
                  = @confidential
              %tr
                %td.td-title
                  = t('.non_existent')
                %td
                  = @non_existent
              -#
                %tr
                  %td.td-title
                    = t('.redirected')
                  %td
                    = @redirected
              %tr
                %td.td-title
                  = t('.undelivered')
                %td
                  = @undelivered
              %tr
                %td.td-title
                  = t('.not_processed')
                %td
                  = @not_processed
              %tr
                %td.td-title
                  = t('.total')
                %td
                  = @total_information

          .columns.small-24.medium-18
            #piechart_donut_information_type.statistics-normal

    .row
      .columns.small-24
        %h2= t('.demography')
        %br
        .row
          .columns.medium-12
            #piechart_donut_by_gender.statistics-small
          .columns.medium-12
            #piechart_donut_by_person.statistics-small
        .row
          .columns.medium-12
            #piechart_donut_by_department.statistics-small
          .columns.medium-12
            #piechart_donut_by_occupation.statistics-small
          .columns.medium-12
            #piechart_donut_by_age.statistics-small

    .row
      .columns.small-24
        %h2= t('.demography')
        %br
        .row
          .columns.small-24
            #linechart_by_time.statistics-full

:javascript
  $(function(){
    drawPie3dChart('#{@title_information_type}', #{raw @data_information_type}, 'piechart_donut_information_type')
    drawPie3dChart('#{@title_gender}', #{raw @data_gender}, 'piechart_donut_by_gender')
    drawPie3dChart('#{@title_person}', #{raw @data_person}, 'piechart_donut_by_person')
    drawPie3dChart('#{@title_occupation}', #{raw @data_occupation}, 'piechart_donut_by_occupation')
    //drawPie3dChart('#{@title_age}', #{@data_age}, 'piechart_donut_by_age')
    drawPie3dChart('#{@title_department}', #{raw @data_department}, 'piechart_donut_by_department')
    drawLineChart('#{@title_time}', #{raw @data_time}, 'linechart_by_time')
  });
