- if events.size > 0
  .timeline-actions
    - unless information_request.admitted_at.nil?
      .action-comment
        .content_comment
          %h2
            = "La solicitud ha sido procesada al sistema con fecha: "
            = l information_request.admitted_at, format: :long
        .clearfix
    - events.reorder(updated_at: :asc).each_with_index do |item, i|
      - unless item.new_record?
        .action-comment
          %div{id: "item#{item.id}", class: "item-comment"}
            %h2
              = item.user.name rescue "Usuario"
              %span.mutted
                = "cambió el estado a "
                - if item.state == "corrected"
                  = "Subsanada"
                - else
                  = t("activerecord.enum.information_request.state.#{item.state}")
                = "el día "
                = l item.created_at, format: :localized2

            .content-comment

              .justification
                = item.justification
                - if item.document.present? and action_name != "download_request"
                  .attachment
                    = "Descargar archivo adjunto"
                    = link_to(image_tag("attachment.png", title: "Descargar archivo"), item.document.url)
              %br
              .clearfix

            - if item.state == "closed"

              .callout.success
                %table.requirements-table
                  %thead
                    %th
                      = "Requerimiento"
                    %th
                      = "Tipo de información"
                    %th
                      = "Tipo de resolución"
                    %th
                      = "Justificación"

                  - @item.requirements.each_with_index do |requirement, i|
                    %tr
                      %td
                        = i+1
                      %td
                        = requirement.get_information_type
                      %td
                        = requirement.get_resolution_type
                      %td
                        = requirement.events.last.try(:justification)
            .clearfix
