%p
  Gracias por usar nuestro Sistema de Solicitud de Información en línea.
  %br
  Para que su solicitud sea procesada, debe confirmar su dirección de correo electrónico, presionando el siguiente enlace:

%br
= link_to confirm_information_requests_url(token: @information_request.token), style: 'background-color: #5bb75b; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-image: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#51a351)); background-image: -webkit-linear-gradient(top, #62c462, #51a351); background-image: -moz-linear-gradient(top, #62c462, #51a351); background-image: -o-linear-gradient(top, #62c462, #51a351); background-image: linear-gradient(to bottom, #62c462, #51a351); border-style: solid; border-width: 1px; color: #fff; cursor: pointer; display: block; font-size: 30px; font-weight: bold; font-family: arial; height: 50px; line-height: 50px; margin: 0; padding: 0 20px; text-align: center; text-decoration: none; width: 200px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); filter: dropshadow(color=#333, offx=0, offy=-1); -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);' do
  Confirmar
%br
%p
  Si el vínculo no funciona correctamente, copie el siguiente enlace y péguelo en la barra de dirección de su navegador web.
  %br
  = confirm_information_requests_url(token: @information_request.token)

%br
%p
  Una vez se verifiquen los requisitos del Artículo 66 de la LAIP, el Oficial de Información dispondrá de 10 a 25 días hábiles para entregarle su respuesta, según establece el Art. 71 de la LAIP:
%p
  Art. 71. La respuesta a la solicitud deberá ser notificada al interesado en el menor tiempo posible, que no podrá ser mayor de diez días hábiles, contados desde la presentación de aquella, siempre que la información requerida no exceda de cinco años de haber sido generada. Si la información requerida excede de los cinco años de haberse generado, el plazo podrá ampliarse por diez días hábiles más.
%p
  En caso de que no pueda entregarse la información en tiempo, por la complejidad de la información u otras circunstancias excepcionales, por resolución motivada podrá disponerse de un plazo adicional de cinco días hábiles.

%p
  http://www.gobiernoabierto.gob.sv
  %br
  Gobierno Abierto El Salvador
