%p
  %strong
    = InformationRequest.confirmed.where(confirmed_at: 1.week.ago.beginning_of_day .. Date.current.beginning_of_day, institution_id: 9).count
  = "solicitudes de información confirmadas entre el #{l(1.week.ago.to_date, format: :long)} y #{l(1.day.ago.to_date, format: :long)}"
%h2
  DETALLE DE SOLICITUDES SEMANALES CAPRES
%table{ border: 1, cellspacing: 0, cellpadding: 0 }
  %thead
    %tr
      %th
        Fecha y hora
      %th
        Solicitante
      %th
        Información solicitada
  %tbody
    - requests = InformationRequest.confirmed.where(confirmed_at: 1.week.ago.beginning_of_day .. Date.current.beginning_of_day, institution_id: 9).includes(:institution)
    - requests.each do |request|
      %tr
        %td
          = request.confirmed_at.try(:strftime, '%d/%m/%Y %I:%M%P')
        %td
          = request.fullname
        %td
          - request.requirements.each do |requirement|
            = "+" + strip_tags requirement.requested_information
    %tr
      %td{colspan: 2, align: 'right'}
        %strong
          Total
      %td{align: 'right'}
        %strong
          = requests.size
