%p
  %strong
    = InformationRequest.confirmed.where(confirmed_at: 1.day.ago.beginning_of_day .. Date.current.beginning_of_day).count
  = "solicitudes de información confirmadas el #{l(1.day.ago.to_date, format: :long)}"
%h2
  DETALLE DE SOLICITUDES
%table{ border: 1, cellspacing: 0, cellpadding: 0 }
  %thead
    %tr
      %th
        Institución
      %th
        Fecha y hora
      %th
        Solicitante
      %th
        Información solicitada
  %tbody
    - InformationRequest.confirmed.where(confirmed_at: 1.day.ago.beginning_of_day .. Date.current.beginning_of_day).includes(:institution).group_by{|i| i.institution}.sort_by{ |key, value| key.try(:name).to_s }.each do |requests|
      - requests[1].sort_by{|o| o.confirmed_at.to_i}.each do |request|
        %tr
          %td
            = requests[0].nil? ? '-' : requests[0].acronym
          %td
            = request.confirmed_at.try(:strftime, '%d/%m/%Y %I:%M%P')
          %td
            = request.fullname
          %td
            - request.requirements.each do |requirement|
              = "+" + strip_tags requirement.requested_information
      %tr
        %td{colspan: 3, align: 'right'}
          %strong
            Total
        %td{align: 'right'}
          %strong
            = requests[1].size
