Hola, <%= @user.name %>, por este medio, le pido respuesta al siguiente requerimiento, de la solicitud de información con correlativo <%= @information_request.correlative %>. A continuación el detalle:

<%= strip_tags @requirement.requested_information %>

Resuelva este requerimiento copiando el siguiente enlace en su navegador:

<%= panel_information_request_url(@information_request, user_email: @user.email, user_token: @user.authentication_token) %>

<% if @official.present? %>
Cualquier duda por favor comuníquese conmigo,
<% unless @official.name.blank? %>
<%= @official.name %>
<% end %>
<% unless @official.email.blank? %>
<%= @official.email %>
<% end %>
<% end %>
