%p
  = "Hola, #{ @user.name }, #{@comment.user.name} ha comentado en la solicitud ##{@information_request.correlative}. A continuación el detalle:"
%br
%p
  %strong
    Comentario:
  %br
  = strip_tags @comment.message
%br
%p
  Puede ver este comentario dando clic en el siguiente enlace:
%br
= link_to "Ver comentario", edit_panel_information_request_url(@information_request, user_email: @user.email, user_token: @user.authentication_token, anchor: "comment-#{@comment.id}")
%p
  Si el vínculo no funciona correctamente, copie el siguiente enlace y péguelo en la barra de dirección de su navegador web.
  %br
  = panel_information_request_url(@information_request, user_email: @user.email, user_token: @user.authentication_token, anchor: "comment-#{@comment.id}")

%p
  http://www.gobiernoabierto.gob.sv
  %br
  Gobierno Abierto El Salvador
