
Estimado/a Sr./a <%= @information_request.fullname %>:

Su solicitud de información ha sido identificada con el número correlativo: <%= @information_request.correlative %>

Información solicitada:
<%- @information_request.requirements.each_with_index do |requirement, i| %>
  <%= "+" + strip_tags(requirement.requested_information) %>
<% end %>

Si su solicitud cumple con los requisitos del Art. 66 de la LAIP, a partir de este día, el Oficial de Información dispone de 10 a 25 días hábiles para entregarle su respuesta, según lo contemplado en el Art. 71 de la LAIP:

Art. 71. La respuesta a la solicitud deberá ser notificada al interesado en el menor tiempo posible, que no podrá ser mayor de diez días hábiles, contados desde la presentación de aquella, siempre que la información requerida no exceda de cinco años de haber sido generada. Si la información requerida excede de los cinco años de haberse generado, el plazo podrá ampliarse por diez días hábiles más.
En caso de que no pueda entregarse la información en tiempo, por la complejidad de la información u otras circunstancias excepcionales, por resolución motivada podrá disponerse de un plazo adicional de cinco días hábiles.
Guarde su número correlativo, le será útil para dar seguimiento a su solicitud de información y para que el oficial de información pueda atenderle de forma más rápida y segura.

Si necesita más detalles sobre el estado de su solicitud, puede comunicarse con el Oficial de Información, por medio de los siguientes datos:

<% unless @information_request.institution.nil? -%>
Institución:
<%= @information_request.institution.name %>

Oficial de información:
<%= @information_request.institution.officer_name %>

Dirección:
<%= @information_request.institution.oir_addresses.first.address %>

Teléfono:
<%= @information_request.institution.oir_addresses.first.phone %>

Correo electrónico:
<%= @information_request.institution.officer_email %>

<%end%>

http://www.gobiernoabierto.gob.sv
Gobierno Abierto El Salvador
