%p
  = "Hola, #{ @user.name }, por este medio, le pido respuesta al siguiente requerimiento, de la solicitud de información con correlativo ##{@information_request.correlative}. A continuación el detalle:"
%br
%strong
  = strip_tags @requirement.requested_information
%br
%p
  Resuelva este requerimiento dando clic en el siguiente enlace:
%br
= link_to "Resolver requerimiento", panel_information_request_url(@information_request, user_email: @user.email, user_token: @user.authentication_token)

%p
  Si el vínculo no funciona correctamente, copie el siguiente enlace y péguelo en la barra de dirección de su navegador web:
  %br
  = panel_information_request_url(@information_request, user_email: @user.email, user_token: @user.authentication_token)
%br
- if @official.present?
  %p
    Cualquier duda por favor comuníquese conmigo,
    - unless @official.name.blank?
      %br
      = @official.name
    - unless @official.email.blank?
      %br
      = @official.email
