Gracias por usar nuestro Sistema de Solicitud de Información en línea.

Su solicitud de información ha sido ingresada al sistema de gestión de solicitudes satisfactoriamente, en seguida iniciará el proceso de admisión en donde se dará por recibida su solicitud para realizar la gestión de la misma. La información solicitada es la siguiente:

Información solicitada:
<%- @information_request.requirements.each_with_index do |requirement, i| %>
  <%= "+" + strip_tags(requirement.requested_information) %>
<% end %>

Si necesita más información sobre el estado de su solicitud puede comunicarse con el oficial de información asignado, por medio de la siguiente información:
<% unless @information_request.institution.nil? -%>
Institución:
<%= @information_request.institution.name %>

Oficial de información:
<%= @information_request.institution.officer_name %>

Dirección:
<%= @information_request.institution.oir_addresses.first.address %>

Teléfono:
<%= @information_request.institution.oir_addresses.first.phone %>

Correo electrónico:
<%= @information_request.institution.officer_email %>
<% end -%>
http://www.gobiernoabierto.gob.sv
Gobierno Abierto El Salvador
