Nueva solicitud de información generada en Gobierno Abierto Electrónico, a continuación los detalles:

Tipo de persona:
<%= t("activerecord.enum.information_request.entity_type.#{@information_request.entity_type}") %>

Nombres:
<%= @information_request.firstname %>

Apellidos:
<%= @information_request.lastname %>

Fecha de nacimiento:
<%= l @information_request.birthday, format: :localized2 rescue t('undefined') %>

Sexo:
<%= t("activerecord.enum.information_request.gender.#{@information_request.gender}") %>

Nivel educativo:
<%= @information_request.educational_level.blank? ? '-- No especificado --' : t("activerecord.enum.information_request.educational_level.#{@information_request.educational_level}") %>

Ocupación:
<%= @information_request.occupation.name %>

Nacionalidad:
<%= t("activerecord.enum.information_request.nationality.#{@information_request.nationality}") %>

Residencia:
<%= t("activerecord.enum.information_request.residence.#{@information_request.residence}") %>

Departamento:
<%= @information_request.city.nil? ? '-- No especificado --' : @information_request.city.state.name %>

Municipio:
<%= @information_request.city.nil? ? '-- No especificado --' : @information_request.city.name %>

Teléfono:
<%= @information_request.phone %>

Correo electrónico:
<%= @information_request.email %>

Tipo de documento:
<%= t("activerecord.enum.information_request.document_type.#{@information_request.document_type}") %>

Número de documento:
<%= @information_request.document_number %>

Información solicitada:
<%- @information_request.requirements.each_with_index do |requirement, i| %>
  <%= "+" + strip_tags(requirement.requested_information) %>
<% end %>

Medio por el que desea recibir la información:
<%= t("activerecord.enum.information_request.delivery_way.#{@information_request.delivery_way}") %>

http://www.gobiernoabierto.gob.sv
Gobierno Abierto El Salvador
