%p
  Gracias por usar nuestro Sistema de Solicitud de Información en línea.
  %br
  Para que su solicitud de datos personales sea procesada, debe confirmar su dirección de correo electrónico, presionando el siguiente enlace:

%br
= link_to confirm_information_requests_url(token: @information_request.token), style: 'background-color: #5bb75b; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-image: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#51a351)); background-image: -webkit-linear-gradient(top, #62c462, #51a351); background-image: -moz-linear-gradient(top, #62c462, #51a351); background-image: -o-linear-gradient(top, #62c462, #51a351); background-image: linear-gradient(to bottom, #62c462, #51a351); border-style: solid; border-width: 1px; color: #fff; cursor: pointer; display: block; font-size: 30px; font-weight: bold; font-family: arial; height: 50px; line-height: 50px; margin: 0; padding: 0 20px; text-align: center; text-decoration: none; width: 200px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); filter: dropshadow(color=#333, offx=0, offy=-1); -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);' do
  Confirmar
%br
%p
  Si el vínculo no funciona correctamente, copie el siguiente enlace y péguelo en la barra de dirección de su navegador web.
  %br
  = confirm_information_requests_url(token: @information_request.token)

%br
%p
  Una vez se verifiquen los requisitos del Artículo 66 de la LAIP, el Oficial de Información dispondrá de 10 o 30 días hábiles para entregarle su respuesta, según establece el Art. 36 de la LAIP:
%p
  Art. 36. Los titulares de los datos personales o sus representantes, previa acreditación, podrán solicitar a los entes obligados, ya sea mediante escrito libre, en los términos del artículo 66 de esta ley o formulario expedido por el Instituto, lo siguiente:
%p
  a. La información contenida en documentos o registros sobre su persona.
%p
  b. Informe sobre la finalidad para la que se ha recabado tal información.
%p
  c. La consulta directa de documentos, registros o archivos que contengan sus datos que obren en el registro o sistema bajo su control, en los términos del artículo 63 de esta ley.
%p
  d. La rectificación, actualización, confidencialidad o supresión de la información que le concierna, según sea el caso, y toda vez que el procedimiento para tales modificaciones no esté regulado por una ley especial.
%p
  Tratándose de los literales a, b y c, los entes obligados deberán entregar en un plazo de diez días hábiles, contados a partir de la presentación de la solicitud, en formato comprensible para el solicitante, la información correspondiente; o bien, le comunicarán por escrito que ese registro o sistema de datos personales no contiene los requeridos por el solicitante.
%p
  En el caso del literal d, la solicitud deberá ser acompañada de la documentación que respalde lo pedido. El Oficial de Información deberá entregar al solicitante, en un plazo de treinta días hábiles desde la presentación de la solicitud, una comunicación que haga constar las modificaciones; o bien, le informará de manera motivada, la razón por la cual no procedieron las reformas.
%br


%p
  http://www.gobiernoabierto.gob.sv
  %br
  Gobierno Abierto El Salvador
