.nested-fields
  .control
    .row.align-middle.align-justify
      .columns.medium-5.small-23= f.label "Requerimiento"
      .columns.medium-18.small-23
        = f.text_area :requested_information, class: "tinymce", rows: 2
        =# tinymce :theme => "modern", skin: "lightgray", statusbar: false, max_chars: 5
        :javascript
          tinyMCE.init({
            selector: "textarea",
            max_chars: 250, // max. allowed chars
            setup: function (ed) {
                var allowedKeys = [8, 37, 38, 39, 40, 46]; // backspace, delete and cursor keys
                ed.on('keydown', function (e) {
                    if (allowedKeys.indexOf(e.keyCode) != -1) return true;
                    if (tinymce_getContentLength() + 1 > this.settings.max_chars) {
                        e.preventDefault();
                        e.stopPropagation();
                        return false;
                    }
                    return true;
                });
                ed.on('keyup', function (e) {
                    tinymce_updateCharCounter(this, tinymce_getContentLength());
                });
            },
            init_instance_callback: function () { // initialize counter div
                $('#' + this.id).prev().append('<div class="char_count" style="text-align:right"></div>');
                tinymce_updateCharCounter(this, tinymce_getContentLength());
            },
            paste_preprocess: function (plugin, args) {
                var editor = tinymce.get(tinymce.activeEditor.id);
                var len = editor.contentDocument.body.innerHTML.length;
                var text = $(args.content).text();
                if (len + text.length > editor.settings.max_chars) {
                    alert('Supera el limite de' + editor.settings.max_chars + ' caracteres.');
                    args.content = '';
                } else {
                    tinymce_updateCharCounter(editor, len + text.length);
                }
            }
          });

          function tinymce_updateCharCounter(el, len) {
              $('#' + el.id).prev().find('.char_count').text(len + '/' + el.settings.max_chars);
          }

          function tinymce_getContentLength() {
              return tinymce.get(tinymce.activeEditor.id).contentDocument.body.innerText.length;
          }
  .remove-nested
    = link_to_remove_association f do
      %i.material-icons remove_circle_outline
      Remover
