.wrapper
  .row.align-center
    .columns.large-20.small-24
      .container
        #confirm-email
          %br
          %center
            %h1
              = t('.title')
          %br
          %br
          %p
            Una vez que el oficial de información confirme la recepción de su solicitud, dispondrá de 10 A 25 días hábiles para dar respuesta a su solicitud, según lo contemplado en el Art. 71 de la LAIP:
          %p
            Art. 71. La respuesta a la solicitud deberá ser notificada al interesado en el menor tiempo posible, que no podrá ser mayor de diez días hábiles, contados desde la presentación de aquella, siempre que la información requerida no exceda de cinco años de haber sido generada. Si la información requerida excede de los cinco años de haberse generado, el plazo podrá ampliarse por diez días hábiles más.
          %p
            En caso de que no pueda entregarse la información en tiempo, por la complejidad de la información u otras circunstancias excepcionales, por resolución motivada podrá disponerse de un plazo adicional de cinco días hábiles.
          %br

          - if @information_request && @information_request.institution
            .callout
              #contact-info
                %h2
                  Información de contacto

                %table
                  %tr
                    %td
                      = "Institutución: "
                    %td
                      %b
                        = @information_request.institution.name
                  %tr
                    %td
                      = "Oficial de información: "
                    %td
                      %b
                        = @information_request.institution.officer_name
                  %tr
                    %td
                      = "Dirección: "
                    %td
                      %b
                        = @information_request.institution.oir_addresses.first.address rescue nil
                  %tr
                    %td
                      = "Teléfono del oficial de información: "
                    %td
                      %b
                        = @information_request.institution.oir_addresses.first.phone rescue nil
                  %tr
                    %td
                      = "Correo del oficial de información: "
                    %td
                      %b
                        = @information_request.institution.officer_email
