.wrapper
  .row.align-center
    .columns.large-20.small-24
      .container
        #confirm-email
          %br
          %center
            %h1
              = t('.title')
          %br
          #legend
            = raw t('.please_confirm_your_email', email: @information_request.email)
            %br
            = t('.you_have_x_days_to_confirm', days_number: 5)
            %br
            %br
            %b
              = t('.take_a_look_to_spam')
          %br
          / Contact info
          - unless false #@information_request.institution.nil?
            .callout
              #contact-info
                %h2
                  Información de contacto

                %table
                  %tr
                    %td
                      = "Institutución: "
                    %td
                      %b
                        = @information_request.institution.name
                  %tr
                    %td
                      = "Oficial de información: "
                    %td
                      %b
                        = @information_request.institution.officer_name
                  %tr
                    %td
                      = "Dirección: "
                    %td
                      %b
                        = @information_request.institution.oir_addresses.first.address rescue nil
                  %tr
                    %td
                      = "Teléfono del oficial de información: "
                    %td
                      %b
                        = @information_request.institution.oir_addresses.first.phone rescue nil
                  %tr
                    %td
                      = "Correo del oficial de información: "
                    %td
                      %b
                        = @information_request.institution.officer_email
