.wrapper
  .row.align-center
    .columns.large-20.small-24
      .container
        #confirm-email
          %br
          %center
            %h1= "Términos de uso"
        %br
        %p
          Los datos personales e información recabados en este portal serán protegidos, incorporados y tratados por cada Oficial de Información de conformidad con lo dispuesto por la Ley de Acceso a la Información Pública y demás disposiciones aplicables. Dichos datos se recaban con fundamento en los artículos 24, 31, 32, 33, 34, 36 y 66 de la Ley citada, y se requieren para llevar a cabo los procedimientos de solicitud de datos personales y solicitud de información pública, por lo que únicamente serán utilizados para ello y para fines estadísticos. Asimismo podrán enviarse, de forma automática, encuestas de satisfacción o consultas para mejorar la experiencia de uso de los portales de la Secretaría de Participación, Transparencia y Anticorrupción. El registro de los datos será por cada solicitud realizada, por lo que tendrán que registrarse nuevamente si vuelve a hacer uso de este Sistema. Si tiene dudas o comentarios, envíe un correo electrónico a
          = mail_to 'info@gobiernoabierto.gob.sv', 'info@gobiernoabierto.gob.sv', style: "color: #2BA6CB;"
