.wrapper
  .row.align-center
    .medium-8.medium-centered.columns
      %center
        %h1 Iniciar sesión
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' } ) do |f|

        .form-group
          .input-group
            = f.email_field :email, placeholder: "Correo electrónico", autofocus: true, class: 'form-control'
        .form-group
          .input-group
            = f.password_field :password, autocomplete: 'off', placeholder: "Contraseña", class: 'form-control'
        .text-center
          = f.button type: :submit do
            Ingresar
        %center
          - flash.each do |key, value|
            .alert-message
              = value
