:ruby
  admin_modules = {
    users:                              'people',
    institutions:                       'business',
    #calendar_events:                   'business',
    #oir_addresses:                     'group_work',
    institution_calendars:              'watch_later',
    institution_schedules:              'schedule',
    information_requests:               'insert_drive_file',
    information_request_records:        'business',
    information_request_iaip_processes: 'group_work',
    occupations:                        'work',
  }

  oir_modules = {
    users:                              'people',
    institutions:                       'business',
    #calendar_events:                   'business',
    #oir_addresses:                     'group_work',
    institution_calendars:              'watch_later',
    institution_schedules:              'schedule',
    information_requests:               'insert_drive_file',
    information_request_records:        'business',
    information_request_iaip_processes: 'group_work',

  }

  administrative_unit_modules = {
    information_requests:              'insert_drive_file',
  }

  modules = current_user.admin? ? admin_modules : current_user.oir? ? oir_modules : administrative_unit_modules

%header
  .row.align-middle
    .columns.shrink
      %span.menu.drop
        %i.material-icons menu
        %ul
          %li
            = link_to panel_root_url do
              %i.material-icons home
              Inicio
          - modules.each do |k, v|
            %li
              = link_to send("panel_#{k}_url") do
                %i.material-icons= v
                = t k.to_s.singularize, scope: 'activerecord.models', count: :many

          -# menus.each do |menu|
            - if show_menu?(menu)
              %li
                = link_to url_for(controller: "/panel/#{menu.controller}", action: menu.action) do
                  %i.material-icons= menu.icon_name
                  = t menu.controller.to_s.singularize, scope: 'activerecord.models', count: :many

    .columns
      Sistema de Gestión de Solicitudes
    -# if current_user.admin?
      .columns.shrink
        = switch_user_select
    .columns.shrink.large-offset-1
      = link_to current_user.name, edit_panel_profile_url(current_user)
      = link_to destroy_user_session_url, method: :delete do
        %i.material-icons power_settings_new
