.row.align-middle
  .columns.small-6
    .actions
      .row.align-stretch
        .columns.shrink
          %strong.total-entries{ 'ng-bind' => "total_entries + ' Registros'" }


  .columns.small-18
    .visibility-controls
      = label_tag nil, 'ng-repeat' => 'col in table.cols' do
        %input{ type: :checkbox, ng: { model_options: "{ getterSetter: true }", model: 'col.show' }}
        %span {{ col.title() }}
