- if @item.errors.full_messages.any?
  .callout.alert.alert-warning
    %ul
      - @item.errors.full_messages.each do |message|
        %li
          = message

.row
  .columns.small-12
    %h2 Nuevo estadístico
    %br

.row
  .columns.large-12.small-24
    .control
      .row.align-middle.align-justify
        .columns.small-6= f.label :opening_date
        .columns.small-17= f.date_select :opening_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' }, start_year: 2009, end_year: Date.today.year }, class: 'date'

  .columns.large-12.small-24
    .control
      .row.align-middle.align-justify
        .columns.small-6= f.label :closing_date
        .columns.small-17= f.date_select :closing_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' }, start_year: 2009, end_year: Date.today.year }, class: 'date'
.row
  .columns.large-12.small-24
    .control
      .row.align-middle.align-justify
        .columns.small-6= f.label :institution_id
        .columns.small-17= f.select :institution_id, institutions.map{ |i| [i.name, i.id] }, include_blank: true

- unless @item.valid_totals? and @item.valid_requirements?
  .callout.alert.alert-error
    %ul
      - unless @item.valid_totals?
        %li
          = t('activerecord.errors.messages.information_request_records.total_errors')
      - unless @item.valid_requirements?
        %li
          = t('activerecord.errors.messages.information_request_records.total_delivery_errors')
%br
.row
  .columns.small-12
    %h2 Totales
    %br
    .control
      .row.align-middle
        .columns.small-18= f.label :total_requests
        .columns.small-5= f.text_field :total_requests
    .control
      .row.align-middle
        .columns.small-18= f.label :total_requirements
        .columns.small-5= f.text_field :total_requirements
  .columns.small-12
    %h2 En proceso y no recogidas

    .control
      .row.align-middle
        .columns.small-18= f.label :process_requirements
        .columns.small-5= f.text_field :process_requirements
    .control
      .row.align-middle
        .columns.small-18= f.label :abandoned_requirements
        .columns.small-5= f.text_field :abandoned_requirements
%br

.row
  .columns.small-24
    %h2 Tipo de respuestas
  .columns.small-12
    .control
      .row.align-middle
        .columns.small-18= f.label :art_10_17_laip
        .columns.small-5= f.text_field :art_10_17_laip
    .control
      .row.align-middle
        .columns.small-18= f.label :no_proprietary
        .columns.small-5= f.text_field :no_proprietary
    .control
      .row.align-middle
        .columns.small-18= f.label :art_31_32_laip
        .columns.small-5= f.text_field :art_31_32_laip
    .control
      .row.align-middle
        .columns.small-18= f.label :art_30_laip
        .columns.small-5= f.text_field :art_30_laip
    .control
      .row.align-middle
        .columns.small-18= f.label :art_73_laip
        .columns.small-5= f.text_field :art_73_laip

  .columns.small-12
    .control
      .row.align-middle
        .columns.small-18= f.label :art_19_laip
        .columns.small-5= f.text_field :art_19_laip
    .control
      .row.align-middle
        .columns.small-18= f.label :art_24_laip
        .columns.small-5= f.text_field :art_24_laip
    .control
      .row.align-middle
        .columns.small-18= f.label :art_67_laip
        .columns.small-5= f.text_field :art_67_laip
    .control
      .row.align-middle
        .columns.small-18= f.label :dismissed_requirements
        .columns.small-5= f.text_field :dismissed_requirements
    .control
      .row.align-middle
        .columns.small-18= f.label :art_74_laip
        .columns.small-5= f.text_field :art_74_laip
