%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      %td
        %input{ type: :checkbox, class: 'decorated-checkbox box', 'checklist-model' => 'checkboxes.ids', 'checklist-value' => 'item.id' }
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        .action-buttons
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/edit", class: 'text-primary' do
            %i.material-icons border_color
            Editar

          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' } do
            %i.material-icons delete
            Eliminar
      %td{ data: { title: "'Institución'" }, 'ng-if' => 'true', filter: "{ institution_id_eq: 'select' }", 'filter-data' => "getSelectList('institutions')", sortable: "'institution_name'" } {{ item.institution_id }}
      %td{ data: { title: "'Fecha de inicio'" }, 'ng-if' => 'true', filter: "table.dateFilter('opening_date')", sortable: "'opening_date'" } {{ item.opening_date | date:'dd/MM/yyyy' }}
      %td{ data: { title: "'Fecha de fin'" }, 'ng-if' => 'true', filter: "table.dateFilter('closing_date')", sortable: "'closing_date'" } {{ item.closing_date | date:'dd/MM/yyyy' }}
      %td{ data: { title: "'Total de solicitudes'" }, 'ng-if' => 'true', filter: "{ total_requests_eq: 'text' }", sortable: "'total_requests'" } {{ item.total_requests }}
      %td{ data: { title: "'Total de requerimientos'" }, 'ng-if' => 'true', filter: "{ total_requirements_eq: 'text' }", sortable: "'total_requirements'" } {{ item.total_requirements }}
