- if current_user.has_role?("admin")
  .control
    .row.align-middle.align-left
      .columns.small-5= f.label :enabled
      .columns.small-3= f.check_box :enabled

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :acronym
    .columns.small-18= f.text_field :acronym, readonly: true
.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name, readonly: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :information_request_correlative
    .columns.small-18= f.text_field :information_request_correlative

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :information_request_personal_correlative
    .columns.small-18= f.text_field :information_request_personal_correlative

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :officer_name
    .columns.small-18= f.text_field :officer_name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :officer_email
    .columns.small-18= f.text_field :officer_email
