%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        .action-buttons
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/edit", class: 'text-primary' do
            %i.material-icons edit
            Editar
      - if current_user.has_role?("admin")
        %td{ data: { title: "'Activo'" }, 'ng-if' => 'true', filter: "{ enabled_true: 'select' }", 'filter-data' => 'boolean_select_list', sortable: "'enabled'" }
          %input{ type: :checkbox, class: 'decorated-checkbox check', 'ng-model' => 'item.enabled', 'ng-click' => "submitField($event, 'enabled', item)" }
      %td{ data: { title: "'Institución'" }, 'ng-if' => 'true', filter: "{ id_eq: 'select' }", 'filter-data' => "getSelectList('institutions')", sortable: "'institution_name'" } {{ item.name }}

      %td{ data: { title: "'Acrónimo'" }, 'ng-if' => 'true', filter: "{ acronym_icont: 'text' }", sortable: "'acronym'" } {{ item.acronym }}

      //%td{ data: { title: "'Nombre'" }, 'ng-if' => 'true', filter: "{ name_icont: 'text' }", sortable: "'name'" } {{ item.name }}
      %td{ data: { title: "'Proximo correlativo'" }, 'ng-if' => 'true', sortable: "'next_correlative'" } {{ item.information_request_correlative }}
      %td{ data: { title: "'Proximo correlativo datos personales'" }, 'ng-if' => 'true', sortable: "'next_correlative'" } {{ item.information_request_personal_correlative }}
      %td{ data: { title: "'Fecha de creación'" }, 'ng-if' => 'true', filter: "table.dateFilter('created_at')", sortable: "'created_at'" } {{ item.created_at | date:'dd/MM/yy hh:mm a' }}
      %td{ data: { title: "'Fecha de actualización'" }, 'ng-if' => 'true', filter: "table.dateFilter('updated_at')", sortable: "'updated_at'" } {{ item.updated_at | date:'dd/MM/yyyy hh:mm a' }}
