.pdf-request {
  background: $white;
  font-size: 11px;
}

.no-border {
  border: 0;
  border-collapse: separate;

  tr {
    border: inherit;
    display: 'inline-block'; //or display: "inline-table"
    page-break-before: avoid;
  }
}

.td-pdf-title {
  font-weight: bold;
  text-align: right;
  width: 25%;
}

.title-pdf {
  font-size: 18px;
  line-height: 0;
  margin-bottom: 0;
}
