- index = @requirement.comments.size - 1 rescue 0
%div{class: "#{index%2==0 ? 'comment-par': 'comment-even'}"}
  .row.align-justify
    .columns.medium-24.small-24
      %h5
        = comment.user.name rescue "Usuario"
        %span
          = "Publicado el #{l comment.created_at, format: :localized2}" rescue nil
  .row.align-justify
    .columns.medium-18.small-24
      .message-wrap
        = comment.message.html_safe
    .columns.medium-6.small-24
      - if comment.document.exists?
        = link_to comment.document.url, target: "_blank" do
          %i.material-icons file_download
          = " Descargar"
