<% if @error %>
  $("#requirement-comment-<%=@requirement.id%>")
  .html('<div class="alert-msg error"">Ha ocurrido un error</div>');
  $(".alert-msg").click(function(){
    $(this).fadeOut("slow", function(){});
  });
<% else %>
  $("#requirement-comment-<%=@requirement.id%>")
  .html('<div class="alert-msg success">Informacion guardada correctamente</div>');
  $(".alert-msg").click(function(){
    $(this).fadeOut("slow", function(){});
  });

  $(".comments-wrapper-<%=@requirement.id%>").append("<%= j render(partial: 'panel/comments/comment', locals: {requirement: @requirement, comment: @item}) %>");
  $("form#requirement-comment-form-<%=@requirement.id%>").trigger("reset")
<% end %>
