.header
  .row.align-middle
    .columns
      %h1
        %i.material-icons input
        = t model.to_s.underscore, scope: 'activerecord.models', count: 1
    .columns.shrink
      - unless @item.new_record?

        = link_to url_for(action: :new) do
          %i.material-icons add_circle_outline
          %br
          Nuevo


.breacrumb
  = render_breadcrumbs separator: ' / '

.wrapper
  .row.align-center
    .columns.large-20
      .container
        - if @item.errors.any?
          .alert-msg.error
            No se pudo guardar el registro, por favor, revise los campos del formulario

        - if flash[:saved]
          .alert-msg.success
            Registro guardado correctamente

        = form_for [:panel, @item], as: :item do |f|
          .form
            - if controller_name == "information_requests" && (action_name == "new" || action_name == "create")
              .callout.primary
                %h5 Seleccione el tipo de información que desea solicitar
              %br
              .row
                .medium-5.small-11.columns
                  = link_to "Información pública", "#", class: "button hollow primary extended ", id: "form-normal"
                .medium-5.medium-offset-1.small-11.small-offset-1.columns
                  = link_to "Información personal", new_personal_panel_information_requests_url, class: "button primary extended", id: "form-personal"

              %br
              %br
              = render partial: 'form', locals: { f: f }

              .control
                .row.align-center.align-justify
                  .columns.small-5
                  .columns.small-18
                    = f.button type: :submit do
                      %i.material-icons save
                      Guardar

            - else
              = render partial: 'form', locals: { f: f }

              .control
                .row.align-center.align-justify
                  .columns.small-5
                  .columns.small-18
                    = f.button type: :submit do
                      %i.material-icons save
                      Guardar
