%section{ ng: { controller: 'tableController as table' }}
  .header
    .row.align-middle
      .columns
        %h1
          %i.material-icons list
          = t model.to_s.underscore, scope: 'activerecord.models', count: :many
      .columns.shrink
        = link_to url_for(action: :new) do
          %i.material-icons add_circle_outline
          %br
          Nuevo

  .breacrumb
    = render_breadcrumbs separator: ' / '

  .container

    - if flash[:destroyed]
      .alert-msg.success
        Registro eliminado correctamente
    - if flash[:saved]
      .alert-msg.success
        Registro creado correctamente
        
    = render partial: 'actions'
    = render partial: 'table'
