.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :email
    .columns.small-18= f.text_field :email

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :administrative_unit_name
    .columns.small-18= f.text_field :administrative_unit_name
.control
  .row.align-middle.align-justify
    .columns.small-5= label_tag "role", "Rol"
    .columns.small-18= select_tag "role", options_for_select(@allowed_roles.map{ |i| [t(i, scope: 'activerecord.enum.user.role'), i] }, @roles.try(:name)), prompt: "Permisos disponibles", required: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :password
    .columns.small-18= f.password_field :password

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :password_confirmation
    .columns.small-18= f.password_field :password_confirmation

%br
%br
%h2
  Instituciones que puede administrar

- @institutions.each do |institution|

  .control
    .row.align-middle.align-justify
      .columns= f.label :institution_ids, institution.name, for: "institution_ids_#{institution.id}"
      .columns.shrink= check_box_tag 'item[institution_ids][]', institution.id, f.object.new_record? && current_user.has_role?("oir") ? current_user.institution_ids.include?(institution.id) : f.object.institutions.include?(institution), class: 'decorated-checkbox box', id: "institution_ids_#{institution.id}"
