%header
  .container
    .row.align-spaced.align-left
      .columns.small-24.medium-24.large-24
        .text-left.responsive.medium
          = link_to "https://www.gobiernoabierto.gob.sv", class: 'brand' do
            %figure
              = image_tag 'gobierno-abierto-logo.png'

          -#
            %h1
              Secretaria de Participación, Transparencia y Anticorrupción

      -#
        .columns.small-22.medium-16.large-13.small-order-3.medium-order-3.large-order-2
          .text-left.responsive.medium
            -# form_tag(search_url, method: :get) do
              = search_field_tag 'ft', params[:ft], placeholder: 'Buscar'
              = button_tag type: :submit, name: nil do
                = image_tag 'icon-search-white.png'

      .columns.small-24.medium-4.large-2
        &nbsp;
