= f.hidden_field :institution_calendar_id, value: "#{!@institution_calendar.nil? ? @institution_calendar.id : params[:institution_calendar_id]}"
.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :event_date
    .columns.small-18= f.date_select :event_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' } }, class: 'date'
.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :name
    .columns.small-18= f.text_field :name
.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :kind
    .columns.small-18= f.select :kind, model.kinds.keys.map{ |i| [t(i, scope: 'activerecord.enum.calendar_event.kind'), i] }, include_blank: true
.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :description
    .columns.small-18= f.text_area :description, rows: 3
