.header
  .row.align-middle
    .columns
      %h1
        %i.material-icons input
        = t model.to_s.underscore, scope: 'activerecord.models', count: 1
    .columns.shrink
      - unless @item.new_record?


        = link_to url_for(action: :new) do
          %i.material-icons add_circle_outline
          %br
          Nuevo

        = link_to url_for(action: :destroy), method: :delete, data: { confirm: '¿Está seguro?' } do
          %i.material-icons.danger delete
          %br
          Eliminar

.breacrumb
  = render_breadcrumbs separator: ' / '

.wrapper
  .row.align-center
    .columns.large-16
      .container
        - if @item.errors.any?
          .alert-msg.error
            No se pudo guardar el registro, por favor, revise los campos del formulario

        - if flash[:saved]
          .alert-msg.success
            Registro guardado correctamente

        - if action_name == "new" || action_name == "create"
          - url = panel_institution_calendar_calendar_events_url()
        - else
          - url = panel_institution_calendar_calendar_event_url(@item)
        = form_for [:panel, @item], as: :item, url: url do |f|

          .form

            = render partial: 'form', locals: { f: f }

            .control
              .row.align-center.align-justify
                .columns.small-5
                .columns.small-18
                  = f.button type: :submit do
                    %i.material-icons save
                    Guardar
