.nested-fields
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label "Titulo"
      .columns.small-18= f.text_field :title

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label "Comentario"
      .columns.small-18= f.text_area :comment, rows: 2
  .control
    .row.align-left
      .columns.small-5.medium-8= f.label :file
      .columns.small-15.medium-10= f.file_field :file
      - if f.object.file.exists?
        .columns.small-4.medium-4
          = link_to f.object.file.url, target: "_blank" do
            %i.material-icons file_download
            = " Descargar"

  .remove-nested
    = link_to_remove_association f do
      %i.material-icons remove_circle_outline
      Remover
