%h2
  Proceso en el IAIP

= f.hidden_field :information_request_id, value: f.object.information_request_id.blank? ? params[:id] : f.object.information_request_id

.control.entity_type_dependent
  .row.align-middle.align-justify
    .columns.small-5= f.label :presentation_date
    .columns.small-18= f.date_select :presentation_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' }, start_year: 2016, end_year: Date.today.year }, class: 'date'

.control.entity_type_dependent
  .row.align-middle.align-justify
    .columns.small-5= f.label :notification_date
    .columns.small-18= f.date_select :notification_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' }, start_year: 2016, end_year: Date.today.year }, class: 'date'

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :correlative
    .columns.small-18= f.text_field :correlative


.control.entity_type_dependent
  .row.align-middle.align-justify
    .columns.small-5= f.label :process_type
    .columns.small-18= f.select :process_type, model.process_types.keys.map{ |i| [t(i, scope: 'activerecord.enum.information_request_iaip_process.process_type'), i] }, include_blank: true

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :description
    .columns.small-18= f.text_area :description, rows: 2

%br
%h2= "Adjuntos del proceso"
%div
  %i.muted Por favor, incluya, de uno a uno, los adjuntos generados referentes al proceso.
#attachments
  = f.fields_for :attachments do |attachment|
    = render partial: 'attachment_fields', locals: { f: attachment }
  .add-nested
    = link_to_add_association f, :attachments do
      %i.material-icons add_circle_outline
      Agregar
%br


%h2= "Notas del proceso"
%div
  %i.muted Por favor, incluya, de uno a uno, las notas referentes al proceso.
%br
#requirements
  = f.fields_for :notes do |note|
    = render partial: 'note_fields', locals: { f: note }

  .add-nested
    = link_to_add_association f, :notes do
      %i.material-icons add_circle_outline
      Agregar


.control
  .row.align-middle
    .columns.small-5= f.label :resolution_phase
    .columns.small-3
      = f.check_box :resolution_phase, {class: "radio-inline"}, true, false
    .columns.small-15

#fullfillment_date
  .control.entity_type_dependent
    .row.align-middle.align-justify
      .columns.small-5= f.label :fullfillment_date
      .columns.small-18= f.date_select :fullfillment_date, { prompt: { day: 'Día', month: 'Mes', year: 'Año' }, start_year: 2016, end_year: Date.today.year+2 }, class: 'date'

  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label :comments
      .columns.small-18= f.text_area :comments, rows: 2


.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :iaip_resolution
    .columns.small-18= f.select :iaip_resolution, model.iaip_resolutions.keys.map{ |i| [t(i, scope: 'activerecord.enum.information_request_iaip_process.iaip_resolution'), i] }, include_blank: true

.control
  .row.align-middle
    .columns.small-5= f.label :judicial_process
    .columns.small-3
      = f.check_box :judicial_process, {class: "radio-inline"}, true, false
