.nested-fields
  .control
    .row.align-middle.align-justify
      .columns.small-5= f.label "Nota"
      .columns.small-18
        = f.text_area :content, class: "tinymce", rows: 2
        = tinymce :theme => "modern", skin: "lightgray", statusbar: false
  .remove-nested
    = link_to_remove_association f do
      %i.material-icons remove_circle_outline
      Remover
