%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        .action-buttons
          = link_to "{{item.new_or_existing}}", class: 'text-primary' do
            %i.material-icons build
            Proceso en IAIP

      %td{ data: { title: "'¿Posee proceso en IAIP?'" }, 'ng-if' => 'true', sortable: "'iaip_process_kind'" } {{ item.iaip_process_kind }}

      %td{ data: { title: "'Estado'" }, 'ng-if' => 'true', sortable: "'state'" } {{ item.state }}
      %td{ data: { title: "'Correlativo'" }, 'ng-if' => 'true', filter: "{ correlative_icont: 'text' }", sortable: "'correlative'" } {{ item.correlative }}

      %td{ data: { title: "'Institución'" }, 'ng-if' => 'true', filter: "{ institution_id_eq: 'select' }", 'filter-data' => "getSelectList('institutions')", sortable: "'institution_name'" } {{ item.institution_id }}

      - unless current_user.has_role?("administrative_unit")
        %td{ data: { title: "'Nombre'" }, 'ng-if' => 'true', filter: "{ firstname_or_lastname_icont: 'text' }", sortable: "'lastname'" } {{ item.firstname }} {{item.lastname}}
      %td{ data: { title: "'Fecha de ingreso'" }, 'ng-if' => 'true', filter: "table.dateFilter('confirmed_at')", sortable: "'confirmed_at'" } {{ item.confirmed_at | date:'dd/MM/yy hh:mm a' }}
      %td{ data: { title: "'Procesada'" }, 'ng-if' => 'true', filter: "table.dateFilter('admitted_at')", sortable: "'admitted_at'" } {{ item.admitted_at | date:'dd/MM/yyyy hh:mm a' }}
