.header
  .row.align-middle
    .columns
      %h1
        %i.material-icons input
        = t model.to_s.underscore, scope: 'activerecord.models', count: 1
    .columns.shrink


.breacrumb
  = render_breadcrumbs separator: ' / '

.wrapper
  .row.align-center
    .columns.large-20
      .container
        - if @item.errors.any?
          .alert-msg.error
            No se pudo guardar el registro, por favor, revise los campos del formulario

        - if flash[:saved]
          .alert-msg.success
            Registro guardado correctamente

        = form_for [:panel, @item], as: :item, html: { :multipart => true, class: "requirement-comment-form" } do |f|
          .form

            = render partial: 'form', locals: { f: f }

            .control
              .row.align-center.align-justify
                .columns.small-5
                .columns.small-18
                  = f.button class: "hollow button success", type: :submit do
                    %i.material-icons save
                    Guardar
