.header
  .row.align-middle
    .columns
      %h1
        %i.material-icons input
        = t model.to_s.underscore, scope: 'activerecord.models', count: 2
    .columns.shrink
      - unless @item.new_record?


        = link_to edit_panel_information_request_iaip_process_url do
          %i.material-icons add_circle_outline
          %br
          Editar

        -# link_to url_for(action: :destroy), method: :delete, data: { confirm: '¿Está seguro?' } do
          %i.material-icons.danger delete
          %br
          Eliminar

.breacrumb
  = render_breadcrumbs separator: ' / '

%section.info-request-tool
  .container
    .row
      .small-12
        %h2 Información del proceso
    .row

      .small-12.columns
        .table
          .row.align-justify
            .columns.small-24.medium-10.large-10
              %strong Correlativo de la solicitud
            .columns.small-24.medium-14.large-14
              = @item.information_request.correlative rescue " - "

          .row.align-justify
            .columns.small-24.medium-10.large-10
              %strong Fecha de presentación de escrito de ciudadano
            .columns.small-24.medium-14.large-14
              =  l @item.presentation_date, format: :localized rescue t('undefined')

          .row.align-justify
            .columns.small-24.medium-10.large-10
              %strong Fecha de notificación del IAIP a OIR
            .columns.small-24.medium-14.large-14
              =  l @item.notification_date, format: :localized rescue t('undefined')

          .row.align-justify
            .columns.small-24.medium-10.large-10
              %strong Correlativo (asignado por IAIP)
            .columns.small-24.medium-14.large-14
              = @item.correlative

          .row.align-justify
            .columns.small-24.medium-10.large-10
              %strong Tipo de procedimiento
            .columns.small-24.medium-14.large-14
              = @item.process_type

          .row.align-justify
            .columns.small-24.medium-10.large-10
              %strong Descripción del caso
            .columns.small-24.medium-14.large-14
              = @item.description

      .small-12.columns
        .table.no-border.no-margin
          .row.align-justify
            .columns.small-24.medium-10.large-10
              %strong Resultado de la resolución
            .columns.small-24.medium-14.large-14
              = @item.iaip_resolution

          .row.align-justify
            .columns.small-24.medium-10.large-10
              %strong ¿Existe un proceso en el órgano judicial?
            .columns.small-24.medium-14.large-14
              = @item.judicial_process

          .row.align-justify
            .columns.small-24.medium-10.large-10
              %strong ¿Existe una fase de cumplimiento?
            .columns.small-24.medium-14.large-14
              = @item.resolution_phase

          .row.align-justify
            .columns.small-24.medium-10.large-10
              %strong Fecha de notificación al IAIP sobre el cumplimiento
            .columns.small-24.medium-14.large-14
              =  l @item.fullfillment_date, format: :localized rescue t('undefined')

          .row.align-justify
            .columns.small-24.medium-10.large-10
              %strong Observaciones
            .columns.small-24.medium-14.large-14
              = @item.comments
  %hr
  %br
  .container
    .row
      .small-20
        %h2 Adjuntos del proceso
    .row
      .small-16
        - if @item.attachments.size > 0
          - @item.attachments.each_with_index do |attachment, index|
            %div{class: "#{index%2==0 ? 'comment-par': 'comment-even'}"}
              .row.align-justify
                .columns.medium-18.small-18
                  %h5
                    = "Publicado el #{l attachment.created_at, format: :localized2}"
                  .message-wrap
                    = attachment.title rescue "Adjunto"
                  .message-wrap
                    = attachment.comment rescue nil
                .columns.small-4.medium-4
                  = link_to attachment.file.url, target: "_blank" do
                    %i.material-icons file_download
                    = " Descargar"

  %br
  .container
    .row
      .small-20
        %h2 Notas del proceso
    .row
      .small-16
        - if @item.notes.size > 0
          - @item.notes.each_with_index do |comment, index|
            %div{class: "#{index%2==0 ? 'comment-par': 'comment-even'}"}
              .row.align-justify
                .columns.medium-24.small-24
                  %h5
                    = "Publicado el #{l comment.created_at, format: :localized2}"
              .row.align-justify
                .columns.medium-18.small-24
                  .message-wrap
                    = comment.content.html_safe
