.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :institution_id
    .columns.small-18= f.select :institution_id, institutions.map{ |i| [i.name, i.id] }, include_blank: true


.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :wday
    .columns.small-18= f.select :wday, Date::DAYNAMES.each_index.map { |i| [t('date.day_names')[i].capitalize, i] }, { include_blank: '-- Seleccione --' }

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :from
    .columns.small-18= f.time_select :from, { minute_step: 15, ampm: true, prompt: { hour: 'HH', minute: 'MM' } }, { class: 'date' }

.control
  .row.align-middle.align-justify
    .columns.small-5= f.label :to
    .columns.small-18= f.time_select :to, { minute_step: 15, ampm: true, prompt: { hour: 'HH', minute: 'MM' } }, { class: 'date' }
