%script{ type: 'text/ng-template', id: '/clear-filters.html' }
  .clear-filters
    = link_to nil, 'ng-click' => 'clearFilters($event)' do
      %i.material-icons clear
      Remover filtros

.table-container
  %table{ ng: { table: 'table.tableParams', table_columns_binding: 'table.cols' }}
    %tr{ ng: { repeat: 'item in $data' }}
      %td
        -# %input{ type: :checkbox, class: 'decorated-checkbox box', 'checklist-model' => 'checkboxes.ids', 'checklist-value' => 'item.id' }
      %td{ data: { title: '', filter: "{ actions: '/clear-filters.html' }" }}
        .action-buttons
          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}/edit", class: 'text-primary' do
            %i.material-icons border_color
            Editar

          = link_to "#{model.to_s.pluralize.underscore}/{{ item.id }}", class: 'text-danger', method: :delete, data: { confirm: '¿Está seguro?' } do
            %i.material-icons delete
            Eliminar

      %td{ data: { title: "'Institución'" }, 'ng-if' => 'true', filter: "{ institution_id_eq: 'select' }", 'filter-data' => "getSelectList('institutions')", sortable: "'institution_name'" } {{ item.institution_id }}
      %td{ data: { title: "'Día'" },   'ng-if' => 'true' } {{ item.wday }}
      %td{ data: { title: "'Desde'" }, 'ng-if' => 'true' } {{ item.from }}
      %td{ data: { title: "'Hasta'" }, 'ng-if' => 'true' } {{ item.to }}
