$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;

$blue: #357bf3;
$dark-blue: #2c51ab;
$white: #fff;
$black: #000;
$dark: #4d4d4d;
$skyblue: #42c7ff;
$cobalt: #2d3645;

$white-alt: #fefefe;
$light-blue: #2199e8;
$soft-warning: #fff3d9;


$green: #66bb6a;
$purple: #3f51b5;
$white: #fff;
$blue: #2196f3;
$red: #f44336;
$yellow: #faebcc;
$warning: #ffae00;
$warning-light: #F6E0B2;
$red-alt: #861514;
$gray: #ccc;
$light-gray: #e7dddd;
$light-black: #444;
$light400: #eee;
$light-blue: #8895dc;
$green-process: #468847;
