%h2
  Agregar nuevo requerimiento

.control
  .row.align-middle.align-justify
    .columns.medium-4.small-24
      = f.label "Nuevo Requerimiento"
    .columns.medium-15.small-22
      = f.text_area :requested_information, class: "tinymce", rows: 2
      = tinymce :theme => "modern", skin: "lightgray", statusbar: false
    .columns.medium-5.hide-for-small-only
      = f.button class: "hollow button success", type: :submit, data: { disable_with: "Por favor espere..."} do
        %i.material-icons save
        Guardar
.control.show-for-small-only
  .row.align-right
    .columns.small-24
      = f.button class: "hollow button success", type: :submit, data: { disable_with: "Por favor espere..."} do
        %i.material-icons save
        Guardar
