%br
.columns.medium-24.small-24.close-requirement-tag
  .row.align-middle
    .medium-24.columns
      = label_tag "", class: "radio-inline" do
        = label_tag "¿Cerrar requerimiento? "
        = check_box_tag("close_requirement", true, false, {id: "close-requirement-check-#{requirement.id}"})



%div{id: "close-requirement-justification-#{requirement.id}", class: "close-requirement-justification columns medium-24 small-24"}

  .control
    .row.align-middle
      .medium-24.columns
        = f.label :information_type
        = f.select :information_type, options_for_select(InformationRequest::INFORMATION_TYPE.invert), { include_blank: t('helpers.select.prompt'), class: 'resolution_type' }, id: "item_information_type_#{requirement.id}"

  .control
    .row.align-middle
      .medium-24.columns
        = f.label :resolution_type
        = f.select :resolution_type, grouped_options_for_select(InformationRequest::RESOLUTION_TYPE), { include_blank: t('helpers.select.prompt'), class: 'resolution_type' }, id: "item_resolution_type_#{requirement.id}"

  :javascript
      $(function(){
        justifications = $("#item_resolution_type_#{requirement.id}").html();
        $('#item_resolution_type_#{requirement.id} optgroup').remove();
        $('#item_information_type_#{requirement.id}').change(function(){

          type = $('#item_information_type_#{requirement.id} :selected').text();
          options = $(justifications).filter("optgroup[label='" + type + "']").html();
          $('#item_resolution_type_#{requirement.id} option:gt(0)').remove();
          if ( options )
            $('#item_resolution_type_#{requirement.id}').append(options);
        });
      });


  .control
    .row.align-middle.align-justify
      .columns.medium-5= label_tag "Fecha: "
      .columns.medium-18
        = hidden_field_tag "event_start", value: Date.current
        = hidden_field_tag "user_id", value: current_user.id
        = hidden_field_tag "state", value: 'closed_requirement'
        = l(Date.current, format: :default)

  .control
    .row.align-middle.align-justify
      .columns.medium-5= label_tag "Justificación: "
      .columns.medium-18= text_area_tag "justification", nil, {rows: 2, class: "close-requirement-justification-#{requirement.id}"}

  .control
    .row.align-middle.align-justify
      .columns.medium-5= label_tag "Documento: "
      .columns.medium-18
        = f.file_field :file
        %br
        %i.muted
          = t('activerecord.attributes.information_request.document_image_max_size')
          ,
          = t('activerecord.attributes.information_request.document_image_extensions')
