<% if @error %>
  $("#requirement-message-<%=@requirement.id%>")
  .html('<div class="alert-msg error"">Ha ocurrido un error</div>');
  $(".alert-msg").click(function(){
    $(this).fadeOut("slow", function(){});
  });
<% else %>
  // Si se guarda correctament
  $("#requirement-message-<%=@requirement.id%>")
  .html('<div class="alert-msg success">Informacion guardada correctamente</div>');
  $(".alert-msg").click(function(){
    $(this).fadeOut("slow", function(){});
  });
  // Si el requerimiento no cumple con fondo
  <% if @requirement.meets_depth == true && !@requirement.closed? %>

    $(".requirement-tool-<%=@requirement.id%>").css("background-color", "#2196f3");
    $("#requirement-message-<%=@requirement.id%>").closest(".callout").css("background-color", "#DEF2F8");

  <% elsif @requirement.meets_depth == false && !@requirement.closed?%>
    $(".requirement-tool-<%=@requirement.id%>").css("background-color", "#FFAE00");
    $("#requirement-message-<%=@requirement.id%>").closest(".callout").css("background-color", "#F6E0B2");
  <% end %>

  // Si los requerimientos están cerrados
  <% if @information_request.all_requirements_are_closed? and @information_request.process?  %>
    $(".menu.align-right").html('<li>'+
    '<a href="<%=closure_panel_information_request_url(@information_request)%>"'
    + ' id="close-request" class="separated-list button secondary">'
    + '<i class="material-icons">stop</i><span>Cerrar solicitud</span</a>'
    + '</li>');
  <% end %>

  // Mensaje con el arreglo de usuarios asignados al requerimiento
  <% if @requirement.has_assigned_users? %>
    $(".requirements_with_assigned_users-<%=@requirement.id%>")
    .html('<div class="callout primary">'
    + '<h2>Asignado a: <%=@requirement.show_assigned_users%></h2>'
    + '<br>Asignado el: <%=l(@requirement.assigned_date, format: :localized)%>, '
    + 'Última actualización: <%=l(@requirement.assigned_date_update, format: :localized)%></div>');
  <% end  %>


  // Se inicializa de nuevo el formulario
  <%
    form_for @requirement, as: :item,
    url: management_panel_requirement_url(@requirement.id),
    html: { remote: true, method: :put,
      id: "requirement-#{@requirement.id}" } do |f|
      @builder = f
    end
  %>

  // Si el requerimiento debe ser cerrado por cumplir Art. 74B de la LAIP
  <% if !@requirement.meets_depth.nil? and !@requirement.art_74_laip.nil? and @requirement.art_74_laip == true %>

    $("form#requirement-<%=@requirement.id%>").hide();
    $("#requirement-closed-<%=@requirement.id%>")
    .append("<div class='callout warning'>Requerimiento cerrado por articulo 74-B de la LAIP.</div></br>");
    $("form#requirement-comment-form-<%=@requirement.id%>").hide();

  // Si algun requerimiento no cumple con fondo se activa el boton de prevenir
  <% elsif !@requirement.meets_depth.nil? and @requirement.meets_depth == false and !@requirement.closed?%>
    $(".menu.align-right").html('');

    <% if @information_request.can_correct? %>
      $(".menu.align-right").html('');
      $(".menu.align-right").html('<li><a href="#" id="correct-request" '
      + ' class="separated-list button warning"> '
      + ' <i class="material-icons">pause</i> '
      + ' <span>Prevenir solicitud</span</a></li>');
      $("#close-requirement-<%=@requirement.id%>")
      .html("<%= j render(partial: 'panel/requirements/close_requirement', locals: {f: @builder, requirement: @requirement}) %>");
    <% else %>
      $(".menu.align-right").html('');
      $(".cannot-do-action").show();
    <% end %>

    <% if (@information_request.correct? && !@requirement.closed?)%>
      console.log("puede subsanar o no")
      $(".menu.align-right").html('<li><a href="#" id="process-request" '
      + ' class="separated-list button primary"> '
      + ' <i class="material-icons">play_arrow</i> '
      + ' <span>Subsanar solicitud</span></a></li> '
      + ' <li><a href="#" id="not-corrected-request" '
      + ' class="separated-list button secondary"> '
      + ' <i class="material-icons">stop</i> '
      + ' <span>No subsanar solicitud</span></a></li> ');

      $(".cannot-do-action").show();
      $("#close-requirement-<%=@requirement.id%>")
      .html("<%= j render(partial: 'panel/requirements/close_requirement', locals: {f: @builder, requirement: @requirement}) %>");

    <% end %>

  // Si el requerimiento ya está cerrado
  <% elsif @requirement.closed? %>
    $(".cannot-do-action").hide();
    $("form#requirement-<%=@requirement.id%>").hide();
    $("form#requirement-comment-form-<%=@requirement.id%>").hide();

  //
  <% else %>
    $(".menu.align-right").html('');

    <% if @information_request.can_correct? %>
      $(".menu.align-right").html('');
      $(".menu.align-right").html('<li><a href="#" id="correct-request" '
      + ' class="separated-list button warning"> '
      + ' <i class="material-icons">pause</i> '
      + ' <span>Prevenir solicitud</span</a></li>');
      $("#close-requirement-<%=@requirement.id%>")
      .html("<%= j render(partial: 'panel/requirements/close_requirement', locals: {f: @builder, requirement: @requirement}) %>");
    <% else %>
      $(".menu.align-right").html('');
      $(".cannot-do-action").show();
    <% end %>

    <% if @information_request.can_process? or @information_request.correct? %>
      $(".menu.align-right").html('<li><a href="#" id="process-request" '
      + ' class="separated-list button primary"> '
      + ' <i class="material-icons">play_arrow</i> '
      + ' <span><%=@information_request.correct? ? t('resume_request') : t('admit_request')%>'
      + ' </span></a></li> ');
      <% if @information_request.correct? %>
        $(".menu.align-right").append('<li><a href="#" id="not-corrected-request" '
        + ' class="separated-list button secondary"> '
        + ' <i class="material-icons">stop</i> '
        + ' <span>No subsanar solicitud</span></a></li> ');
      <% end %>
    <% end %>

    <% if @information_request.process? and @information_request.can_extended? %>
      $(".menu.align-right").html('');
      $(".menu.align-right").html('<li><a href="#" id="extended-request" '
      + ' class="separated-list button warning"> '
      + ' <i class="material-icons">schedule</i> '
      + ' <span><%=t("extend_request")%>');

    <% end %>

    $(".cannot-do-action").hide();
    $("#close-requirement-<%=@requirement.id%>")
    .html("<%= j render(partial: 'panel/requirements/close_requirement', locals: {f: @builder, requirement: @requirement}) %>");

    $('#requirement-<%=@requirement.id%>').validate();
    $('#close-requirement-check-<%=@requirement.id%>').click(function(e) {
      if ($('#close-requirement-check-<%=@requirement.id%>').is(':checked')) {
        $("#close-requirement-justification-<%=@requirement.id%>").show();
        $('#item_resolution_type').rules('add', {
          required: true
        });
        $('.close-requirement-justification-<%=@requirement.id%>').rules('add', {
          required: true
        });
      }
      else {
        $("#close-requirement-justification-<%=@requirement.id%>").hide();
        $('#item_resolution_type').rules('add', {
          required: false
        });
        $('.close-requirement-justification-<%=@requirement.id%>').rules('add', {
          required: false
        });
      }
    });
  <% end %>
<% end %>

// Reload MANUALLY

$('#correct-request').on("click", function(e) {
  e.stopPropagation();
  e.preventDefault();
  return $('.correct-form').toggle();
});

$("#process-request").on("click", function(e) {
  e.stopPropagation();
  e.preventDefault();
  return $('.process-form').toggle();
});

$("#extended-request").on("click", function(e) {
  e.stopPropagation();
  e.preventDefault();
  return $('.extended-form').toggle();
});
